{% extends "base.html.twig" %}

{% block title %}{{ '%entity% edit'|trans({'%entity%': 'Proprietaire'}, 'admin') }} - {{ parent() }}{% endblock %}

    {% block route %}

             <header class="section-header">
                <div class="tbl">
                    <div class="tbl-row">
                        <div class="tbl-cell">
                            <h3></h3>
                            <ol class="breadcrumb breadcrumb-simple pull-left">
                                <li><a href="{{ path('homepage') }}">Accueil</a></li>
                                <li><a href="{{ path('proprietaire') }}">Proprietaire</a></li>
                                {% if proprietaire.proprietaire.entreprise != null  %}
                                    <li class="active">modifier le  proprietaire {{proprietaire.proprietaire.entreprise.raisonSocial}} </li>
                                {% else %}

                                   <li class="active">modifier le  proprietaire {{proprietaire.proprietaire.particulier.nom}} {{proprietaire.proprietaire.particulier.prenom}} </li>
                                {% endif %}
                                
                            </ol>
                        </div>
                    </div>
                </div>
            </header>


    {% endblock %}




{% block body %}


                {{ form_start(edit_form) }}

            {% macro information_prototype(document , image_path , title) %}
                  {% set image_path = image_path|default(null) %}
      
        <div class="row">    
        <!-- FRMULAIRE BIEN -->
            <div class="col-md-3">                    
                <fieldset class="form-group">
                    {{ form_label(document.title, "Nom du document ", {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(document.title , { 'attr' : {'placeholder' : 'Nom du document',  'class' : 'form-control'  }} ) }}
                    <small class="help-block">{{ form_errors(document.title , { 'attr' : {'class' : 'red' }} ) }}</small>
                </fieldset>           
            </div>     
              <div class="col-md-5">                    
                <fieldset class="form-group">
                    {{ form_label(document.document.tempFile, "Fichier joint (format accepté : PNG , JEPG , JPG ,  GIF,  Word , PDF ) ", {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(document.document.tempFile , { 'attr' : {'placeholder' : 'Fichier joint',  'class' : 'form-control'  }} ) }}
                    <small class="help-block">{{ form_errors(document.document.tempFile , { 'attr' : {'class' : 'red' }} ) }}</small>
                </fieldset>           
            </div>
            <div class="col-md-2">
                 {% if image_path != null %}
                <fieldset class="form-group">
                    <label class="form-label"> Fichier </label>
                    <a target="_blank" href="{{asset(image_path)}}">{{title}}</a>
                    </fieldset> 
                
                
             {% endif %} 
            </div>

         
        </div>                        
    {% endmacro %}

            <section class="card">
                <div class="card-block">
                    
                     {% if proprietaire.proprietaire.entreprise != null  %}
                        <h4 class="with-border">Modifier le proprietaire {{proprietaire.proprietaire.entreprise.raisonSocial}}</h4>
                                {% else %}

                                    <h4 class="with-border">Modifier le proprietaire {{proprietaire.proprietaire.particulier.nom}} {{proprietaire.proprietaire.particulier.prenom}}</h4>
                                {% endif %}

                    <div class="row">                      
                        
                        {% if proprietaire.proprietaire.entreprise != null  %}
                            <!-- ENTREPRISE -->
                            <div class="col-lg-4">
                                
                                
                                
                                <fieldset class="form-group">
                                    {{ form_label(edit_form.pays, "Pays *", {'label_attr': {'class': 'form-label'}}) }}
                                    {{ form_widget(edit_form.pays , { 'attr' : {'placeholder' : 'Pays',  'class' : 'form-control'  }} ) }}
                                    <small class="help-block">{{ form_errors(edit_form.pays , { 'attr' : {'class' : 'red' }} ) }}</small>
                                </fieldset>
                                <fieldset class="form-group">
                                    {{ form_label(edit_form.proprietaire.entreprise.gerantNom, "Nom du gérant *", {'label_attr': {'class': 'form-label'}}) }}
                                    {{ form_widget(edit_form.proprietaire.entreprise.gerantNom , { 'attr' : {'placeholder' : 'Nom du gérant',  'class' : 'form-control'  }} ) }}
                                    <small class="help-block">{{ form_errors(edit_form.proprietaire.entreprise.gerantNom , { 'attr' : {'class' : 'red' }} ) }}</small>
                                </fieldset>                                
                                
                                <fieldset class="form-group">
                                    {{ form_label(edit_form.email, "E-mail", {'label_attr': {'class': 'form-label'}}) }}
                                    {{ form_widget(edit_form.email , { 'attr' : {'placeholder' : 'E-mail',  'class' : 'form-control'  }} ) }}
                                    <small class="help-block">{{ form_errors(edit_form.email , { 'attr' : {'class' : 'red' }} ) }}</small>
                                </fieldset>

                             
                                <fieldset class="form-group">
                                    {{ form_label(edit_form.proprietaire.entreprise.formeJuridique, "Forme juridique *", {'label_attr': {'class': 'form-label'}}) }}
                                    {{ form_widget(edit_form.proprietaire.entreprise.formeJuridique , { 'attr' : {'placeholder' : 'Forme juridique',  'class' : 'form-control'  }} ) }}
                                    <small class="help-block">{{ form_errors(edit_form.proprietaire.entreprise.formeJuridique , { 'attr' : {'class' : 'red' }} ) }}</small>
                                </fieldset>

                                <fieldset class="form-group">
                                    {{ form_label(edit_form.proprietaire.entreprise.gerantCivilite, "Civilité *", {'label_attr': {'class': 'form-label'}}) }}
                                    {{ form_widget(edit_form.proprietaire.entreprise.gerantCivilite, { 'attr' : {'placeholder' : 'Civilité',  'class' : 'form-control'  }} ) }}
                                    <small class="help-block">{{ form_errors(edit_form.proprietaire.entreprise.gerantCivilite, { 'attr' : {'class' : 'red' }} ) }}</small>
                                </fieldset>

                                <fieldset class="form-group">
                                    {{ form_label(edit_form.proprietaire.entreprise.gerantPrenom, "Prénoms *", {'label_attr': {'class': 'form-label'}}) }}
                                    {{ form_widget(edit_form.proprietaire.entreprise.gerantPrenom , { 'attr' : {'placeholder' : 'Prénoms',  'class' : 'form-control'  }} ) }}
                                    <small class="help-block">{{ form_errors(edit_form.proprietaire.entreprise.gerantPrenom , { 'attr' : {'class' : 'red' }} ) }}</small>
                                </fieldset>
                                <fieldset class="form-group">
                                    {{ form_label(edit_form.proprietaire.entreprise.nomContactUrgence, "Tel. *", {'label_attr': {'class': 'form-label'}}) }}
                                    {{ form_widget(edit_form.proprietaire.entreprise.nomContactUrgence, { 'attr' : {'placeholder' : 'Personne à contacter en cas d\'urgence',  'class' : 'form-control'  }} ) }}
                                    <small class="help-block">{{ form_errors(edit_form.proprietaire.entreprise.nomContactUrgence , { 'attr' : {'class' : 'red' }} ) }}</small>
                                </fieldset>
                                <fieldset class="form-group">
                                    {{ form_label(edit_form.proprietaire.entreprise.affiniteContactUrgence, "Affinité avec la personne à contacter *", {'label_attr': {'class': 'form-label '}}) }}
                                    {{ form_widget(edit_form.proprietaire.entreprise.affiniteContactUrgence, { 'attr' : {'placeholder' : 'Affinité avec la personne à contacter',  'class' : 'form-control contact'  }} ) }}
                                    <small class="help-block">{{ form_errors(edit_form.proprietaire.entreprise.affiniteContactUrgence , { 'attr' : {'class' : 'red' }} ) }}</small>
                                </fieldset>
                                  <fieldset class="form-group autreC" style="display:none">
                                    {{ form_label(edit_form.proprietaire.entreprise.autre, "Si autre veuillez indiquer ?", {'label_attr': {'class': 'form-label contact'}}) }}
                                    {{ form_widget(edit_form.proprietaire.entreprise.autre, { 'attr' : {'placeholder' : 'Affinité avecb la personne à contacter',  'class' : 'form-control'  }} ) }}
                                    <small class="help-block">{{ form_errors(edit_form.proprietaire.entreprise.autre , { 'attr' : {'class' : 'red' }} ) }}</small>
                                </fieldset>
                                
                                <fieldset class="form-group">
                                    {{ form_label(edit_form.proprietaire.entreprise.telContactUrgence, "Contact en cas d\'urgence *", {'label_attr': {'class': 'form-label'}}) }}
                                    {{ form_widget(edit_form.proprietaire.entreprise.telContactUrgence, { 'attr' : {'placeholder' : 'Contact en cas d\'urgence',  'class' : 'form-control'  }} ) }}
                                    <small class="help-block">{{ form_errors(edit_form.proprietaire.entreprise.telContactUrgence , { 'attr' : {'class' : 'red' }} ) }}</small>
                                </fieldset>
                            </div>


                            <div class="col-lg-4">
                                <fieldset class="form-group">
                                    {{ form_label(edit_form.proprietaire.entreprise.raisonSocial, "Raison sociale *", {'label_attr': {'class': 'form-label'}}) }}
                                    {{ form_widget(edit_form.proprietaire.entreprise.raisonSocial , { 'attr' : {'placeholder' : 'Raison sociale',  'class' : 'form-control'  }} ) }}
                                    <small class="help-block">{{ form_errors(edit_form.proprietaire.entreprise.raisonSocial , { 'attr' : {'class' : 'red' }} ) }}</small>
                                </fieldset>
                                
                                <fieldset class="form-group">
                                    {{ form_label(edit_form.proprietaire.entreprise.siege, "Siège *", {'label_attr': {'class': 'form-label'}}) }}
                                    {{ form_widget(edit_form.proprietaire.entreprise.siege , { 'attr' : {'placeholder' : 'Siège',  'class' : 'form-control'  }} ) }}
                                    <small class="help-block">{{ form_errors(edit_form.proprietaire.entreprise.siege , { 'attr' : {'class' : 'red' }} ) }}</small>
                                </fieldset>
                                <fieldset class="form-group">
                                    {{ form_label(edit_form.proprietaire.entreprise.compteContribuable, "N° Compte contribuable *", {'label_attr': {'class': 'form-label'}}) }}
                                    {{ form_widget(edit_form.proprietaire.entreprise.compteContribuable , { 'attr' : {'placeholder' : 'N° Compte contribuable ',  'class' : 'form-control'  }} ) }}
                                    <small class="help-block">{{ form_errors(edit_form.proprietaire.entreprise.compteContribuable , { 'attr' : {'class' : 'red' }} ) }}</small>
                                </fieldset>
                                <fieldset class="form-group">
                                    {{ form_label(edit_form.proprietaire.entreprise.registreCommerce, "Régistre du commerce *", {'label_attr': {'class': 'form-label'}}) }}
                                    {{ form_widget(edit_form.proprietaire.entreprise.registreCommerce, { 'attr' : {'placeholder' : 'Régistre du commerce',  'class' : 'form-control'  }} ) }}
                                    <small class="help-block">{{ form_errors(edit_form.proprietaire.entreprise.registreCommerce, { 'attr' : {'class' : 'red' }} ) }}</small>
                                </fieldset>
                                <fieldset class="form-group">
                                    {{ form_label(edit_form.proprietaire.entreprise.telBureau, "Tel du bureau", {'label_attr': {'class': 'form-label'}}) }}
                                    {{ form_widget(edit_form.proprietaire.entreprise.telBureau , { 'attr' : {'placeholder' : 'Tel du bureau',  'class' : 'form-control'  }} ) }}
                                    <small class="help-block">{{ form_errors(edit_form.proprietaire.entreprise.telBureau , { 'attr' : {'class' : 'red' }} ) }}</small>
                                </fieldset>
                                <fieldset class="form-group">
                                    {{ form_label(edit_form.proprietaire.entreprise.fax, "Fax", {'label_attr': {'class': 'form-label'}}) }}
                                    {{ form_widget(edit_form.proprietaire.entreprise.fax , { 'attr' : {'placeholder' : 'Fax',  'class' : 'form-control'  }} ) }}
                                    <small class="help-block">{{ form_errors(edit_form.proprietaire.entreprise.fax , { 'attr' : {'class' : 'red' }} ) }}</small>
                                </fieldset>
                               


                                <fieldset class="form-group">
                                    {{ form_label(edit_form.proprietaire.entreprise.gerantMail, "E-mail *", {'label_attr': {'class': 'form-label'}}) }}
                                    {{ form_widget(edit_form.proprietaire.entreprise.gerantMail, { 'attr' : {'placeholder' : 'E-mail',  'class' : 'form-control'  }} ) }}
                                    <small class="help-block">{{ form_errors(edit_form.proprietaire.entreprise.gerantMail , { 'attr' : {'class' : 'red' }} ) }}</small>
                                </fieldset>
                                <fieldset class="form-group">
                                    {{ form_label(edit_form.proprietaire.entreprise.gerantLieuHabitation, "Domicile *", {'label_attr': {'class': 'form-label'}}) }}
                                    {{ form_widget(edit_form.proprietaire.entreprise.gerantLieuHabitation, { 'attr' : {'placeholder' : 'Domicile',  'class' : 'form-control'  }} ) }}
                                    <small class="help-block">{{ form_errors(edit_form.proprietaire.entreprise.gerantLieuHabitation , { 'attr' : {'class' : 'red' }} ) }}</small>
                                </fieldset>
                                <fieldset class="form-group">
                                    {{ form_label(edit_form.proprietaire.entreprise.gerantProfession, "Profession *", {'label_attr': {'class': 'form-label'}}) }}
                                    {{ form_widget(edit_form.proprietaire.entreprise.gerantProfession, { 'attr' : {'placeholder' : 'Profession',  'class' : 'form-control'  }} ) }}
                                    <small class="help-block">{{ form_errors(edit_form.proprietaire.entreprise.gerantProfession , { 'attr' : {'class' : 'red' }} ) }}</small>
                                </fieldset>                        
                            </div>


                            <div class="col-lg-4">
                                
                                
                                <fieldset class="form-group">
                                    {{ form_label(edit_form.proprietaire.entreprise.adressePostale, "Adresse postale", {'label_attr': {'class': 'form-label'}}) }}
                                    {{ form_widget(edit_form.proprietaire.entreprise.adressePostale , { 'attr' : {'placeholder' : 'Adresse postale',  'class' : 'form-control'  }} ) }}
                                    <small class="help-block">{{ form_errors(edit_form.proprietaire.entreprise.adressePostale , { 'attr' : {'class' : 'red' }} ) }}</small>
                                </fieldset>
                                
                                <fieldset class="form-group">
                                    {{ form_label(edit_form.tempFile, "Photo", {'label_attr': {'class': 'form-label'}}) }}
                                    {{ form_widget(edit_form.tempFile , { 'attr' : {'placeholder' : 'Photo',  'class' : 'form-control'  }} ) }}
                                    <small class="help-block">{{ form_errors(edit_form.tempFile , { 'attr' : {'class' : 'red' }} ) }}</small>
                                </fieldset>
                                

                                <fieldset class="form-group">
                                    {{ form_label(edit_form.proprietaire.entreprise.gerantDateNaissance, "Date de Naissance du gérant *", {'label_attr': {'class': 'form-label'}}) }}
                                    {{ form_widget(edit_form.proprietaire.entreprise.gerantDateNaissance, { 'attr' : {'placeholder' : 'Né(e) le',  'class' : 'form-control'  }} ) }}
                                    <small class="help-block">{{ form_errors(edit_form.proprietaire.entreprise.gerantDateNaissance, { 'attr' : {'class' : 'red' }} ) }}</small>
                                </fieldset>
                                <fieldset class="form-group">
                                    {{ form_label(edit_form.proprietaire.entreprise.gerantLieuNaissance, "Lieu de naissance", {'label_attr': {'class': 'form-label'}}) }}
                                    {{ form_widget(edit_form.proprietaire.entreprise.gerantLieuNaissance , { 'attr' : {'placeholder' : 'Lieu de naissance',  'class' : 'form-control'  }} ) }}
                                    <small class="help-block">{{ form_errors(edit_form.proprietaire.entreprise.gerantLieuNaissance , { 'attr' : {'class' : 'red' }} ) }}</small>
                                </fieldset>
                                <fieldset class="form-group">
                                    {{ form_label(edit_form.proprietaire.entreprise.gerantNaturePiece, "Nature de la pièce", {'label_attr': {'class': 'form-label'}}) }}
                                    {{ form_widget(edit_form.proprietaire.entreprise.gerantNaturePiece , { 'attr' : {'placeholder' : 'Nature de la pièce',  'class' : 'form-control'  }} ) }}
                                    <small class="help-block">{{ form_errors(edit_form.proprietaire.entreprise.gerantNaturePiece , { 'attr' : {'class' : 'red' }} ) }}</small>
                                </fieldset>
                                <fieldset class="form-group">
                                    {{ form_label(edit_form.proprietaire.entreprise.gerantNumeroPiece, "N° pièce *", {'label_attr': {'class': 'form-label'}}) }}
                                    {{ form_widget(edit_form.proprietaire.entreprise.gerantNumeroPiece, { 'attr' : {'placeholder' : 'N° pièce',  'class' : 'form-control'  }} ) }}
                                    <small class="help-block">{{ form_errors(edit_form.proprietaire.entreprise.gerantNumeroPiece , { 'attr' : {'class' : 'red' }} ) }}</small>
                                </fieldset>
                                <fieldset class="form-group">
                                    {{ form_label(edit_form.proprietaire.entreprise.gerantDateDelivrance, "Date de délivrance *", {'label_attr': {'class': 'form-label'}}) }}
                                    {{ form_widget(edit_form.proprietaire.entreprise.gerantDateDelivrance, { 'attr' : {'placeholder' : 'Date de délivrance',  'class' : 'form-control'  }} ) }}
                                    <small class="help-block">{{ form_errors(edit_form.proprietaire.entreprise.gerantDateDelivrance , { 'attr' : {'class' : 'red' }} ) }}</small>
                                </fieldset>
                                <fieldset class="form-group">
                                    {{ form_label(edit_form.proprietaire.entreprise.gerantLieuDelivrance, "Lieu de délivrance *", {'label_attr': {'class': 'form-label'}}) }}
                                    {{ form_widget(edit_form.proprietaire.entreprise.gerantLieuDelivrance, { 'attr' : {'placeholder' : 'Lieu de délivrance',  'class' : 'form-control'  }} ) }}
                                    <small class="help-block">{{ form_errors(edit_form.proprietaire.entreprise.gerantLieuDelivrance , { 'attr' : {'class' : 'red' }} ) }}</small>
                                </fieldset>
                                <fieldset class="form-group">
                                    {{ form_label(edit_form.proprietaire.entreprise.gerantTelephone, "Tel. *", {'label_attr': {'class': 'form-label'}}) }}
                                    {{ form_widget(edit_form.proprietaire.entreprise.gerantTelephone, { 'attr' : {'placeholder' : 'Tel.',  'class' : 'form-control'  }} ) }}
                                    <small class="help-block">{{ form_errors(edit_form.proprietaire.entreprise.gerantTelephone , { 'attr' : {'class' : 'red' }} ) }}</small>
                                </fieldset>
                                <fieldset class="form-group">
                                    {{ form_label(edit_form.proprietaire.entreprise.gerantCellulaire, "Cel. *", {'label_attr': {'class': 'form-label'}}) }}
                                    {{ form_widget(edit_form.proprietaire.entreprise.gerantCellulaire, { 'attr' : {'placeholder' : 'Cel.',  'class' : 'form-control'  }} ) }}
                                    <small class="help-block">{{ form_errors(edit_form.proprietaire.entreprise.gerantCellulaire , { 'attr' : {'class' : 'red' }} ) }}</small>
                                </fieldset>                             
                                
                            </div>


                        {% else %}
                            <!-- PARTICULIER -->
                            <div class="col-lg-4">
                                
                                <fieldset class="form-group">
                                    {{ form_label(edit_form.proprietaire.particulier.civilite, "Civilité *", {'label_attr': {'class': 'form-label'}}) }}
                                    {{ form_widget(edit_form.proprietaire.particulier.civilite , { 'attr' : {'placeholder' : 'Civilité',  'class' : 'form-control'  }} ) }}
                                    <small class="help-block">{{ form_errors(edit_form.proprietaire.particulier.civilite , { 'attr' : {'class' : 'red' }} ) }}</small>
                                </fieldset>
                                <fieldset class="form-group">
                                    {{ form_label(edit_form.pays, "Pays *", {'label_attr': {'class': 'form-label'}}) }}
                                    {{ form_widget(edit_form.pays, { 'attr' : {'placeholder' : 'Pays',  'class' : 'form-control'  }} ) }}
                                    <small class="help-block">{{ form_errors(edit_form.pays , { 'attr' : {'class' : 'red' }} ) }}</small>
                                </fieldset>
                                <fieldset class="form-group">
                                    {{ form_label(edit_form.proprietaire.particulier.naturePiece, "Nature de la pièce", {'label_attr': {'class': 'form-label'}}) }}
                                    {{ form_widget(edit_form.proprietaire.particulier.naturePiece , { 'attr' : {'placeholder' : 'Nature de la pièce',  'class' : 'form-control'  }} ) }}
                                    <small class="help-block">{{ form_errors(edit_form.proprietaire.particulier.naturePiece , { 'attr' : {'class' : 'red' }} ) }}</small>
                                </fieldset>
                                <fieldset class="form-group">
                                    {{ form_label(edit_form.proprietaire.particulier.lieuDelivrance, "Lieu de délivrance *", {'label_attr': {'class': 'form-label'}}) }}
                                    {{ form_widget(edit_form.proprietaire.particulier.lieuDelivrance , { 'attr' : {'placeholder' : 'Lieu de délivrance',  'class' : 'form-control'  }} ) }}
                                    <small class="help-block">{{ form_errors(edit_form.proprietaire.particulier.lieuDelivrance , { 'attr' : {'class' : 'red' }} ) }}</small>
                                </fieldset>
                                <fieldset class="form-group">
                                    {{ form_label(edit_form.proprietaire.particulier.cellulaire, "Cel. *", {'label_attr': {'class': 'form-label'}}) }}
                                    {{ form_widget(edit_form.proprietaire.particulier.cellulaire , { 'attr' : {'placeholder' : 'Cel.',  'class' : 'form-control'  }} ) }}
                                    <small class="help-block">{{ form_errors(edit_form.proprietaire.particulier.cellulaire , { 'attr' : {'class' : 'red' }} ) }}</small>
                                </fieldset>
                                <fieldset class="form-group">
                                    {{ form_label(edit_form.proprietaire.particulier.nomSociete, "Société", {'label_attr': {'class': 'form-label'}}) }}
                                    {{ form_widget(edit_form.proprietaire.particulier.nomSociete , { 'attr' : {'placeholder' : 'Société',  'class' : 'form-control'  }} ) }}
                                    <small class="help-block">{{ form_errors(edit_form.proprietaire.particulier.nomSociete , { 'attr' : {'class' : 'red' }} ) }}</small>
                                </fieldset>
                                <fieldset class="form-group">
                                    {{ form_label(edit_form.email, "E-mail", {'label_attr': {'class': 'form-label'}}) }}
                                    {{ form_widget(edit_form.email , { 'attr' : {'placeholder' : 'E-mail',  'class' : 'form-control'  }} ) }}
                                    <small class="help-block">{{ form_errors(edit_form.email , { 'attr' : {'class' : 'red' }} ) }}</small>
                                </fieldset>
                                <fieldset class="form-group">
                                    {{ form_label(edit_form.proprietaire.particulier.nomContactUrgence, "Personne à contacter en cas d\'urgence *", {'label_attr': {'class': 'form-label'}}) }}
                                    {{ form_widget(edit_form.proprietaire.particulier.nomContactUrgence , { 'attr' : {'placeholder' : 'Personne à contacter en cas d\'urgence',  'class' : 'form-control'  }} ) }}
                                    <small class="help-block">{{ form_errors(edit_form.proprietaire.particulier.nomContactUrgence , { 'attr' : {'class' : 'red' }} ) }}</small>
                                </fieldset>
                              
                            </div>


                            <div class="col-lg-4">
                                <fieldset class="form-group">
                                    {{ form_label(edit_form.proprietaire.particulier.nom, "Nom *", {'label_attr': {'class': 'form-label'}}) }}
                                    {{ form_widget(edit_form.proprietaire.particulier.nom , { 'attr' : {'placeholder' : 'Nom',  'class' : 'form-control'  }} ) }}
                                    <small class="help-block">{{ form_errors(edit_form.proprietaire.particulier.nom , { 'attr' : {'class' : 'red' }} ) }}</small>
                                </fieldset>
                                <fieldset class="form-group">
                                    {{ form_label(edit_form.proprietaire.particulier.dateNaissance, "Né(e) le", {'label_attr': {'class': 'form-label'}}) }}
                                    {{ form_widget(edit_form.proprietaire.particulier.dateNaissance , { 'attr' : {'placeholder' : 'Né(e) le',  'class' : 'form-control'  }} ) }}
                                    <small class="help-block">{{ form_errors(edit_form.proprietaire.particulier.dateNaissance , { 'attr' : {'class' : 'red' }} ) }}</small>
                                </fieldset>
                                <fieldset class="form-group">
                                    {{ form_label(edit_form.proprietaire.particulier.numeroPiece, "Numéro de la pièce", {'label_attr': {'class': 'form-label'}}) }}
                                    {{ form_widget(edit_form.proprietaire.particulier.numeroPiece , { 'attr' : {'placeholder' : 'Numéro de la pièce',  'class' : 'form-control'  }} ) }}
                                    <small class="help-block">{{ form_errors(edit_form.proprietaire.particulier.numeroPiece , { 'attr' : {'class' : 'red' }} ) }}</small>
                                </fieldset>
                                <fieldset class="form-group">
                                    {{ form_label(edit_form.proprietaire.particulier.lieuHabitation, "Lieu de résidence *", {'label_attr': {'class': 'form-label'}}) }}
                                    {{ form_widget(edit_form.proprietaire.particulier.lieuHabitation , { 'attr' : {'placeholder' : 'Lieu de résidence',  'class' : 'form-control'  }} ) }}
                                    <small class="help-block">{{ form_errors(edit_form.proprietaire.particulier.lieuHabitation , { 'attr' : {'class' : 'red' }} ) }}</small>
                                </fieldset>
                                <fieldset class="form-group">
                                    {{ form_label(edit_form.proprietaire.particulier.numeroContribuable, "N° Contribuable *", {'label_attr': {'class': 'form-label'}}) }}
                                    {{ form_widget(edit_form.proprietaire.particulier.numeroContribuable , { 'attr' : {'placeholder' : 'N° Contribuable',  'class' : 'form-control'  }} ) }}
                                    <small class="help-block">{{ form_errors(edit_form.proprietaire.particulier.numeroContribuable , { 'attr' : {'class' : 'red' }} ) }}</small>
                                </fieldset>
                                <fieldset class="form-group">
                                    {{ form_label(edit_form.proprietaire.particulier.profession, "Profession *", {'label_attr': {'class': 'form-label'}}) }}
                                    {{ form_widget(edit_form.proprietaire.particulier.profession , { 'attr' : {'placeholder' : 'Profession',  'class' : 'form-control'  }} ) }}
                                    <small class="help-block">{{ form_errors(edit_form.proprietaire.particulier.profession , { 'attr' : {'class' : 'red' }} ) }}</small>
                                </fieldset>
                                <fieldset class="form-group">
                                    {{ form_label(edit_form.proprietaire.particulier.telBureau, "Tel du bureau", {'label_attr': {'class': 'form-label'}}) }}
                                    {{ form_widget(edit_form.proprietaire.particulier.telBureau , { 'attr' : {'placeholder' : 'Tel du bureau',  'class' : 'form-control'  }} ) }}
                                    <small class="help-block">{{ form_errors(edit_form.proprietaire.particulier.telBureau , { 'attr' : {'class' : 'red' }} ) }}</small>
                                </fieldset>
                                <fieldset class="form-group">
                                    {{ form_label(edit_form.proprietaire.particulier.affiniteContactUrgence, "Lien d'affinité *", {'label_attr': {'class': 'form-label'}}) }}
                                    {{ form_widget(edit_form.proprietaire.particulier.affiniteContactUrgence , { 'attr' : {'placeholder' : 'Lien d\'affinité',  'class' : 'form-control contact'  }} ) }}
                                    <small class="help-block">{{ form_errors(edit_form.proprietaire.particulier.affiniteContactUrgence , { 'attr' : {'class' : 'red' }} ) }}</small>
                                </fieldset>
                                 <fieldset class="form-group autreC" style="display:none">
                                    {{ form_label(edit_form.proprietaire.particulier.autre, "Si autre veuillez indiquer ?", {'label_attr': {'class': 'form-label'}}) }}
                                    {{ form_widget(edit_form.proprietaire.particulier.autre, { 'attr' : {'placeholder' : 'Affinité avecb la personne à contacter',  'class' : 'form-control'  }} ) }}
                                    <small class="help-block">{{ form_errors(edit_form.proprietaire.particulier.autre , { 'attr' : {'class' : 'red' }} ) }}</small>
                                </fieldset>
                                                             
                            </div>


                            <div class="col-lg-4">
                                <fieldset class="form-group">
                                    {{ form_label(edit_form.proprietaire.particulier.prenom, "Prénom *", {'label_attr': {'class': 'form-label'}}) }}
                                    {{ form_widget(edit_form.proprietaire.particulier.prenom , { 'attr' : {'placeholder' : 'Prénom',  'class' : 'form-control'  }} ) }}
                                    <small class="help-block">{{ form_errors(edit_form.proprietaire.particulier.prenom , { 'attr' : {'class' : 'red' }} ) }}</small>
                                </fieldset>
                                <fieldset class="form-group">
                                    {{ form_label(edit_form.proprietaire.particulier.lieuNaissance, "Lieu de naissance", {'label_attr': {'class': 'form-label'}}) }}
                                    {{ form_widget(edit_form.proprietaire.particulier.lieuNaissance , { 'attr' : {'placeholder' : 'Lieu de naissance',  'class' : 'form-control'  }} ) }}
                                    <small class="help-block">{{ form_errors(edit_form.proprietaire.particulier.lieuNaissance , { 'attr' : {'class' : 'red' }} ) }}</small>
                                </fieldset>
                                <fieldset class="form-group">
                                    {{ form_label(edit_form.proprietaire.particulier.dateDelivrance, "Date de délivrance *", {'label_attr': {'class': 'form-label'}}) }}
                                    {{ form_widget(edit_form.proprietaire.particulier.dateDelivrance , { 'attr' : {'placeholder' : 'Date de délivrance',  'class' : 'form-control'  }} ) }}
                                    <small class="help-block">{{ form_errors(edit_form.proprietaire.particulier.dateDelivrance , { 'attr' : {'class' : 'red' }} ) }}</small>
                                </fieldset>
                                <fieldset class="form-group">
                                    {{ form_label(edit_form.proprietaire.particulier.telephone, "Tel.", {'label_attr': {'class': 'form-label'}}) }}
                                    {{ form_widget(edit_form.proprietaire.particulier.telephone , { 'attr' : {'placeholder' : 'Tel.',  'class' : 'form-control'  }} ) }}
                                    <small class="help-block">{{ form_errors(edit_form.proprietaire.particulier.telephone , { 'attr' : {'class' : 'red' }} ) }}</small>
                                </fieldset>
                                <fieldset class="form-group">
                                    {{ form_label(edit_form.proprietaire.particulier.adressePostale, "Adresse postale", {'label_attr': {'class': 'form-label'}}) }}
                                    {{ form_widget(edit_form.proprietaire.particulier.adressePostale , { 'attr' : {'placeholder' : 'Adresse postale',  'class' : 'form-control'  }} ) }}
                                    <small class="help-block">{{ form_errors(edit_form.proprietaire.particulier.adressePostale , { 'attr' : {'class' : 'red' }} ) }}</small>
                                </fieldset>
                                <fieldset class="form-group">
                                    {{ form_label(edit_form.proprietaire.particulier.adresseGeographique, "Situation géographique *", {'label_attr': {'class': 'form-label'}}) }}
                                    {{ form_widget(edit_form.proprietaire.particulier.adresseGeographique , { 'attr' : {'placeholder' : 'Situation géographique',  'class' : 'form-control'  }} ) }}
                                    <small class="help-block">{{ form_errors(edit_form.proprietaire.particulier.adresseGeographique , { 'attr' : {'class' : 'red' }} ) }}</small>
                                </fieldset>
                                <fieldset class="form-group">
                                    {{ form_label(edit_form.tempFile, "Photo", {'label_attr': {'class': 'form-label'}}) }}
                                    {{ form_widget(edit_form.tempFile , { 'attr' : {'placeholder' : 'Photo',  'class' : 'form-control'  }} ) }}
                                    <small class="help-block">{{ form_errors(edit_form.tempFile , { 'attr' : {'class' : 'red' }} ) }}</small>
                                </fieldset>
                                <fieldset class="form-group">
                                    {{ form_label(edit_form.proprietaire.particulier.telContactUrgence, "Contact d\'urgence *", {'label_attr': {'class': 'form-label'}}) }}
                                    {{ form_widget(edit_form.proprietaire.particulier.telContactUrgence , { 'attr' : {'placeholder' : 'Contact d\'urgence',  'class' : 'form-control'  }} ) }}
                                    <small class="help-block">{{ form_errors(edit_form.proprietaire.particulier.telContactUrgence , { 'attr' : {'class' : 'red' }} ) }}</small>
                                </fieldset>
                                
                            </div>

                        {% endif %}
                         <div class="col-md-12">

            <div class="collection" id="facture_optionFacture" data-prototype="{{ _self.information_prototype(edit_form.document.vars.prototype)|e }}">
              
                {% for document in edit_form.document %}
                    {{ _self.information_prototype(document , document.vars.value.document.webPath , document.vars.value.title ) }}
                {% endfor %}
                <span style="display:none;">  {{ form_widget( edit_form.document ) }}  </span>
            </div>
            <h4 class="with-border">Ajouter des documents justificatif <span class="bt"></span>  </h4>
             <div id="ajout"  >
            </div>


         </div>  

                    </div>
                    <h5 class="with-border"></h5>
                    <div class="form-group">
                        <a href="{{ path('proprietaire') }}" class="btn btn-inline btn-danger ladda-button" data-style="zoom-in"><span class="ladda-label"><i class="fa fa-list"></i> Retour</span><span class="ladda-spinner"></span></a>

                        <button class="btn btn-inline btn-info ladda-button" data-style="zoom-out"><span class="ladda-label"><i class="fa fa-edit"></i> {{ 'Edit'|trans({}, 'admin') }}</span><span class="ladda-spinner"></span></button>

                        <button class="btn btn-danger pull-right" type="submit"><i class="fa fa-trash-o"></i> {{ 'Delete'|trans({}, 'admin') }}</button>

                    </div>
                    
                </div>
            </section>

        {{ form_widget(edit_form) }}



        
    {{ form_end(edit_form) }}

    {{ form_start(delete_form) }}
        {{ form_widget(delete_form) }}

        

        <input name="modal" type="hidden" value="0">
    {{ form_end(delete_form) }}

    <div id="delete_confirm" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3>{{ 'Confirm delete'|trans({}, 'admin') }}</h3>
                </div>
                <div class="modal-body">
                    <p>{{ 'You are about to delete an item'|trans({}, 'admin') }}, {{ 'this procedure is irreversible'|trans({}, 'admin') }}.</p>
                    <p>{{ 'Do you want to proceed?'|trans({}, 'admin') }}</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger">{{ 'Yes'|trans({}, 'admin') }}</button>
                    <button class="btn btn-default" data-dismiss="modal">{{ 'No'|trans({}, 'admin') }}</button>
                </div>
            </div>
        </div>
    </div>



{# Voici le script en question : #}
<script type="text/javascript">


$('.contact').change(function(){

   autre = $(this).val();
   if(autre == "Autres"){

        $('.autreC').toggle();

   }else{
    $('.autreC').hide();
   }

});

  $(document).ready(function() {

 autre = $(this).val();
   if(autre == "Autres"){

        $('.autreC').toggle();

   }else{
    $('.autreC').hide();
   }

    // On récupère la balise <div> en question qui contient l'attribut « data-prototype » qui nous intéresse.
    var $container = $('div#facture_optionFacture');

    // On ajoute un lien pour ajouter une nouvelle catégorie
    var $addLink = $('<a href="#" id="add_category" class="btn btn-primary"><i class="fa fa-plus"> </a>');
    $('.bt').html($addLink);

    // On ajoute un nouveau champ à chaque clic sur le lien d'ajout.
    $addLink.click(function(e) {
      addCategory($container);
      e.preventDefault(); // évite qu'un # apparaisse dans l'URL
      return false;
    });

    // On définit un compteur unique pour nommer les champs qu'on va ajouter dynamiquement
    var index = $container.find(':input').length;

    // On ajoute un premier champ automatiquement s'il n'en existe pas déjà un (cas d'une nouvelle annonce par exemple).
    if (index == 0) {
      addCategory($container);

      //$('#ajout').next('div').addClass('couleur_test');
    } else {
      // Pour chaque catégorie déjà existante, on ajoute un lien de suppression
      $container.children('div').each(function() {
        addDeleteLink($(this));
      });
    }

    // La fonction qui ajoute un formulaire Categorie
    function addCategory($container) {

       

      // Dans le contenu de l'attribut « data-prototype », on remplace :
      // - le texte "__name__label__" qu'il contient par le label du champ
      // - le texte "__name__" qu'il contient par le numéro du champ
      var $prototype = $($container.attr('data-prototype').replace(/__name__label__/g, 'Période n°' + (index+1))
          .replace(/__name__/g, index));

        //$prototype.attr('class','rows');
        


      // On ajoute au prototype un lien pour pouvoir supprimer la catégorie
      addDeleteLink($prototype);

      // On ajoute le prototype modifié à la fin de la balise <div>
      $('#ajout').append($prototype);

      // Enfin, on incrémente le compteur pour que le prochain ajout se fasse avec un autre numéro
      index++;
    }

    // La fonction qui ajoute un lien de suppression d'une catégorie
    function addDeleteLink($prototype) {
      // Création du lien
      $deleteLink = $('<div class="col-md-2"><div class="form-group"> <label class="control-label"></label> <br/><a href="#" class="btn btn-danger"><i class="fa fa-trash-o"></i>  </a></div></div><p>&nbsp;</p>');

      // Ajout du lien
      $prototype.append($deleteLink);

      // Ajout du listener sur le clic du lien
      $deleteLink.click(function(e) {
        $prototype.remove();
        e.preventDefault(); // évite qu'un # apparaisse dans l'URL
        return false;
      });
    }

    
    
  });


</script>
{% endblock %}
