<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> 404 Error page | rdvmedecine.com</title>
        <link rel="shortcut icon" href="img/favicon.ico">
        <!--STYLESHEET-->
        <!--=================================================-->
        <!--Roboto Slab Font [ OPTIONAL ] -->
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700|Roboto:300,400,700" rel="stylesheet">
        <!--Bootstrap Stylesheet [ REQUIRED ]-->
        <link href="{{ asset('pro/plugins/css/bootstrap.min.css') }} " rel="stylesheet">
        <!--Jasmine Stylesheet [ REQUIRED ]-->
        <link href="{{ asset('pro/css/style.css') }} " rel="stylesheet">
        <!--Font Awesome [ OPTIONAL ]-->
        <link href="{{ asset('pro/plugins/font-awesome/css/font-awesome.min.css') }} " rel="stylesheet">
        <!--Switchery [ OPTIONAL ]-->
        <link href="{{ asset('pro/plugins/switchery/switchery.min.css') }} " rel="stylesheet">
        <!--Bootstrap Select [ OPTIONAL ]-->
        <link href="{{ asset('pro/plugins/bootstrap-select/bootstrap-select.min.css') }} " rel="stylesheet">
        <!--Demo [ DEMONSTRATION ]-->
        <link href="{{ asset('pro/css/demo/jasmine.css') }} " rel="stylesheet">
        <!--SCRIPT-->
        <!--=================================================-->
        <!--Page Load Progress Bar [ OPTIONAL ]-->
        <link href="{{ asset('pro/plugins/pace/pace.min.css') }} " rel="stylesheet">
        <script src="{{ asset('pro/plugins/pace/pace.min.js') }} "></script>
    </head>
    <body>
	  <!-- START OF CONTAINER -->
        <!--===================================================-->
        <div id="container" class="cls-container">
            <!-- CONTENT -->
            <!--===================================================-->
            <div class="cls-content">
                <div class="error-full-page">
                    <!-- start: 404 -->
                    <div class="col-sm-12 page-error pad-30">
                        <div class="error-number text-primary"> 404 </div>
                        <div class="error-details col-sm-6 col-sm-offset-3">
                            <h3> Nous sommes désolés</h3>
                            <p> 
                                <br>Malheureusement, la page que vous recherchez n'a pu être trouvée. <br/> Elle peut être temporairement indisponible, déplacée ou n'existe plus.
                                <br>
                                {% if app.user.groups is defined  %}

                                	{% if  app.user.groups.snapshot.0.name == "Profil" %}
                                <a href="{{ path( 'homepage' ) }}" class="btn btn-danger btn-return"> <i class="fa fa-home"> </i> Retour a l'accueil  </a>

                                	{% else %}
                                	 <a href="{{ path( 'homepro' ) }}" class="btn btn-danger btn-return"> <i class="fa fa-home"> </i> Retour a l'accueil  </a>

                                	{% endif %}

                                {% else %}
                                 <a href="{{ path( 'homepage' ) }}" class="btn btn-danger btn-return"> <i class="fa fa-home"> </i> Retour a l'accueil  </a>

                            	{% endif %}


                               
                            </p>
                        </div>
                    </div>
                    <!-- end: 404 -->
                </div>
            </div>
            <!--===================================================-->
            <!-- CONTENT -->
        </div>
