{% extends "base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}{{ '%entity% edit'|trans({'%entity%': 'admin'}, 'admin') }} - {{ parent() }}{% endblock %}

{% block body %}
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h1 class="box-title">{{ '%entity% edit'|trans({'%entity%': 'admin'}, 'admin') }}</h1>
                    </div>
                    <div class="box-body">

                        {{ form_start(edit_form) }}
                        <div class="form-group">
                            <label for="user_username" class="required">{{ 'form.username'|trans }}</label>
                            {{ form_widget(edit_form.username, {"attr": {"class":"form-control" }}) }}
                            {{ form_errors(edit_form.username) }}
                        </div>
                        <div class="form-group">
                            <label for="user_email" class="required">Email</label>
                            {{ form_widget(edit_form.email, {"attr": {"class":"form-control", "placeholder": 'form.email'|trans }}) }}
                            {{ form_errors(edit_form.email) }}
                        </div>
                        <div class="form-group">
                            <label for="fos_user_change_password_form_current_password" class="required">{{ 'form.current_password'|trans }}</label>
                            {{ form_widget(edit_form.current_password, {"attr": {"class":"form-control", "placeholder": 'form.current_password'|trans }}) }}
                            {{ form_errors(edit_form.current_password) }}
                        </div>
                        <div class="form-group">
                            <label for="user_admin_nom" class="required">Nom</label>
                            {{ form_widget(edit_form.admin.name, {"attr": {"class":"form-control", "placeholder": 'Nom' }}) }}
                            {{ form_errors(edit_form.admin.name) }}
                        </div>
                        <div class="form-group">
                            <label for="user_admin_function" class="required">Fonction</label>
                            {{ form_widget(edit_form.admin.function, {"attr": {"class":"form-control", "placeholder": 'Fonction' }}) }}
                            {{ form_errors(edit_form.admin.function) }}
                        </div>
                        <div class="form-group">
                            <label for="user_admin_phone" class="required">Téléphone</label>
                            {{ form_widget(edit_form.admin.phone, {"attr": {"class":"form-control", "placeholder": 'Téléphone' }}) }}
                            {{ form_errors(edit_form.admin.phone) }}
                        </div>
                        <div class="form-group">
                            <label for="user_groups" class="required">Groupe (plusieurs: maintenir CTRL)</label>
                            {{ form_widget(edit_form.groups, {"attr": {"class":"form-control" }}) }}
                            {{ form_errors(edit_form.groups) }}
                        </div>
                        <div class="form-group">
                            <label for="user_avatar" class="required">Avatar</label>
                            {{ form_widget(edit_form.tempFile, {"attr": {"class":"form-control" }}) }}
                            {{ form_errors(edit_form.tempFile) }}
                        </div>
                        <button class="btn btn-primary pull-left" type="submit"><i class="fa fa-edit"></i> {{ 'Edit'|trans({}, 'admin') }}</button>
                        {{ form_end(edit_form) }}

                        {{ form_start(delete_form) }}
                        {{ form_widget(delete_form) }}
                        <div class="btn-group record_actions pull-right">
                            <a class="btn btn-info" href="{{ path('admin_user') }}">
                                <i class="fa fa-list"></i> {{ 'Back to the list'|trans({}, 'admin') }}
                            </a>
                            <button class="btn btn-danger" type="submit"><i class="fa fa-trash-o"></i> {{ 'Delete'|trans({}, 'admin') }}</button>
                        </div>

                        <input name="modal" type="hidden" value="0">
                        {{ form_end(delete_form) }}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div id="delete_confirm" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3>{{ 'Confirm delete'|trans({}, 'admin') }}</h3>
                </div>
                <div class="modal-body">
                    <p>{{ 'You are about to delete an item'|trans({}, 'admin') }}, {{ 'this procedure is irreversible'|trans({}, 'admin') }}.</p>
                    <p>{{ 'Do you want to proceed?'|trans({}, 'admin') }}</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger">{{ 'Yes'|trans({}, 'admin') }}</button>
                    <button class="btn btn-default" data-dismiss="modal">{{ 'No'|trans({}, 'admin') }}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
