{% extends "Layout.html.twig" %}

{% block title %}{{ '%entity% list'|trans({'%entity%': 'Docteur'}, 'admin') }} - {{ parent() }}{% endblock %}

    {% block file %}

        <h3><i class="fa fa-home"></i> Interface Professionnel </h3>
                        <div class="breadcrumb-wrapper">
                            <span class="label">vous etes ici :</span>
                            <ol class="breadcrumb">
                                <li> <a href="{{ path('homepro') }}" > Accueil </a> </li>
                                <li> <a href="{{ path('pro_mon_profil') }}"  > Mon Profil </a> </li>
                                <li> <a href="#" class="active" > Modifier Mon Mot de passe </a> </li>
                            </ol>
                        </div>
                      
    {% endblock %}

{% block body %}




<!--Page content-->
                    <!--===================================================-->
                    <section id="page-content">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel">
                                    <div class="panel-heading">
                                        <div class="panel-control">
                                            <button class="btn btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></button>
                                        </div>
                                        <h3 class="panel-title">Modifier mon  Mot de passe  </h3>
                                    </div>
                                    <!-- BASIC FORM ELEMENTS -->
                                    <!--===================================================-->
                                        {{ form_start(form, {"attr":{ "class":"panel-body form-horizontal erreur"}}) }}

                                         {% for flashMessage in app.session.flashbag.get('notice') %}
     
                                                        <ul class="woocommerce-error">
                                                          <li style="color:green"><strong></strong> {{ flashMessage }}</li>
                                                      </ul>
                                                  {% endfor %}

                                                   <!--Text Input-->
                                        <div class="form-group">
                                             {{ form_label(form.current_password, " Mot de passe actuel", {'label_attr': {'class': 'col-md-3 control-label'}}) }}
                                            <div class="col-md-9">
                                                {{ form_widget(form.current_password , { 'attr' : {'placeholder' : 'Mot de passe actuel',  'class' : 'form-control'  }} ) }}
                                                <small class="help-block">{{ form_errors(form.current_password , { 'attr' : {'class' : 'red' }} ) }}</small>
                                            </div>
                                        </div>
                                       
                                         <!--Text Input-->
                                        <div class="form-group">
                                             {{ form_label(form.plainPassword.first, "Nouveau Mot de passe", {'label_attr': {'class': 'col-md-3 control-label'}}) }}
                                            <div class="col-md-9">
                                                {{ form_widget(form.plainPassword.first , { 'attr' : {'placeholder' : 'Nouveau Mot de passe',  'class' : 'form-control'  }} ) }}
                                                <small class="help-block">{{ form_errors(form.plainPassword.first , { 'attr' : {'class' : 'red' }} ) }}</small>
                                            </div>
                                        </div>

                                          <!--Text Input-->
                                        <div class="form-group">
                                             {{ form_label(form.plainPassword.second, "Confirmation du nouveau  Mot de passe", {'label_attr': {'class': 'col-md-3 control-label'}}) }}
                                            <div class="col-md-9">
                                                {{ form_widget(form.plainPassword.second , { 'attr' : {'placeholder' : 'Confirmation du nouveau  Mot de passe',  'class' : 'form-control'  }} ) }}
                                                <small class="help-block">{{ form_errors(form.plainPassword.second , { 'attr' : {'class' : 'red' }} ) }}</small>
                                            </div>
                                        </div>
                                                                      
                                        <!--Text Input-->
                                      
                                        <div class="btn-group record_actions">

            <a class="btn btn-info" href="{{ path('pro_mon_profil') }}">
                <i class="fa fa-list"></i> Retour
            </a>




        </div>
        <div style="float:right">
            <button type="submit"   class="btn btn-pink">Modifier</button>
        </div>
                                </div>
                               
                               
                               

                               
                               
                              {{ form_end(form) }}
                            </div>
                           
                        </div>
                    </section>
                    <!--===================================================-->
                    <!--End page content-->



    <script type="text/javascript">





  
    </script>
       <style type="text/css">
    .erreur   ul li {
        color: red;
        font-weight: bold;
         background: none!important;
    }


</style>
        
       
   
    
{% endblock %}
