
{% extends "Layout.html.twig" %}

{% block title %}{{ '%entity% list'|trans({'%entity%': 'Docteur'}, 'admin') }} - {{ parent() }}{% endblock %}

    {% block file %}

   <h3><i class="fa fa-home"></i> Interface Professionnel </h3>
                        <div class="breadcrumb-wrapper">
                            <span class="label">vous etes ici :</span>
                            <ol class="breadcrumb">
                                <li> <a href="{{ path('homepro') }}" > Accueil </a> </li>
                                <li> <a href="{{ path('repertoire') }}"  > Mon Répertoire </a> </li>
                                <li> <a href="#" class="active" > Editer contact </a> </li>
                            </ol>
                        </div>
                      
    {% endblock %}

{% block body %}




<!--Page content-->
                    <!--===================================================-->
                    <section id="page-content">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel">
                                    <div class="panel-heading">
                                        <div class="panel-control">
                                            <button class="btn btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></button>
                                        </div>
                                        <h3 class="panel-title">Editer Contact </h3>
                                    </div>
                                    <!-- BASIC FORM ELEMENTS -->
                                    <!--===================================================-->
                                        {{ form_start(edit_form, {"attr":{ "class":"panel-body form-horizontal"}}) }}
                                       
                                             {% for flashMessage in app.session.flashbag.get('notice') %}
     
                                                      
                                                      <div class="alert alert-dismissible alert-success"  style="color:green; font-weight:bold"  >
                                                  {{ flashMessage }}</a>.
                                                </div>
                                                  {% endfor %}
  <!--Text Input-->
                                        <div class="form-group">
                                             {{ form_label(edit_form.nom, "Nom ", {'label_attr': {'class': 'col-md-3 control-label'}}) }}
                                            <div class="col-md-9">
                                                {{ form_widget(edit_form.nom , { 'attr' : {'placeholder' : 'Nom',  'class' : 'form-control'  }} ) }}
                                                <small class="help-block">{{ form_errors(edit_form.nom , { 'attr' : {'class' : 'red' }} ) }}</small>
                                            </div>
                                        </div>
                                                                      
                                        <!--Text Input-->
                                        <div class="form-group">
                                             {{ form_label(edit_form.mail, "mail", {'label_attr': {'class': 'col-md-3 control-label'}}) }}
                                            <div class="col-md-9">
                                                {{ form_widget(edit_form.mail , { 'attr' : {'placeholder' : 'Mail',  'class' : 'form-control'   }} ) }}
                                                <small class="help-block">{{ form_errors(edit_form.mail , { 'attr' : {'class' : 'red' }} ) }}</small>
                                            </div>
                                        </div>

                                         <!--Text Input-->
                                        <div class="form-group">
                                             {{ form_label(edit_form.tel, "Téléphone", {'label_attr': {'class': 'col-md-3 control-label'}}) }}
                                            <div class="col-md-9">
                                                {{ form_widget(edit_form.tel , { 'attr' : {'placeholder' : 'Téléphone',  'class' : 'form-control' }} ) }}
                                                <small class="help-block">{{ form_errors(edit_form.tel , { 'attr' : {'class' : 'red' }} ) }}</small>
                                            </div>
                                        </div>



                                 
        <div style="float:right">
            <button type="submit"   class="btn btn-pink">Editer</button>
        </div>
                               
                               
                               

                               
                               
                              {{ form_end(edit_form) }}

                                 {{ form_start(delete_form) }}
        {{ form_widget(delete_form) }}

        <div class="btn-group record_actions">

            <a class="btn btn-info" href="{{ path('repertoire') }}">
                <i class="fa fa-list"></i> {{ 'Back to the list'|trans({}, 'admin') }}
            </a>
           

            <button type="button" data-toggle="modal" data-target="#delete_confirm" class="btn btn-danger" type="submit"><i class="fa fa-trash-o"></i> {{ 'Delete'|trans({}, 'admin') }}</button>

        </div>

        <input name="modal" type="hidden" value="0">
   

    <div id="delete_confirm" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3>{{ 'Confirm delete'|trans({}, 'admin') }}</h3>
                </div>
                <div class="modal-body">
                    <p>{{ 'You are about to delete an item'|trans({}, 'admin') }}, {{ 'this procedure is irreversible'|trans({}, 'admin') }}.</p>
                    <p>{{ 'Do you want to proceed?'|trans({}, 'admin') }}</p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger">{{ 'Yes'|trans({}, 'admin') }}</button>
                    <button class="btn btn-default" data-dismiss="modal">{{ 'No'|trans({}, 'admin') }}</button>
                </div>
            </div>
        </div>
    </div>
     {{ form_end(delete_form) }}
                            </div>
                            </div>
                           
                        </div>
                    </section>
                    <!--===================================================-->
                    <!--End page content-->



    
{% endblock %}









