
{% extends "Layout.html.twig" %}

{% block title %}{{ '%entity% list'|trans({'%entity%': 'Docteur'}, 'admin') }} - {{ parent() }}{% endblock %}

    {% block file %}

        <h3><i class="fa fa-home"></i> Interface Professionnel </h3>
                        <div class="breadcrumb-wrapper">
                            <span class="label">vous etes ici :</span>
                            <ol class="breadcrumb">
                                <li> <a href="{{ path('homepro') }}" > Accueil </a> </li>
                                <li> <a href="{{ path('docteur') }}"  > Mes Spécialistes </a> </li>
                                <li> <a href="#" class="active" > Afficher Spécialiste </a> </li>
                            </ol>
                        </div>
                      
    {% endblock %}

{% block body %}




<!--Page content-->
                    <!--===================================================-->
                    <section id="page-content">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel">
                                    <div class="panel-heading">
                                        <div class="panel-control">
                                            <button class="btn btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></button>
                                        </div>
                                        <h3 class="panel-title">Afficher Spécialiste </h3>
                                    </div>
                                    <!-- BASIC FORM ELEMENTS -->
                                    <!--===================================================-->

                                     {% for message in app.session.flashbag.get('notice') %}
        <div class="alert alert-dismissible alert-success">
  <button type="button" class="close" data-dismiss="alert">X</button>
 <span style="color:red; font-weight: bold;"> {{ message }} </span>
</div>
      {% endfor %}
                                       
                                <table class="table table-hover record_properties">
                                            <tbody>

                                                    {% if docteur.image != null  %}
                                                 <tr>
                                                    <th scope="row"></th>
                                                    <td> <img src="{{ asset(docteur.image.webpath) }} " style="height:120px;"> </td>
                                                </tr>
                                            {% endif %}
                                              
                                                <tr>
                                                    <th scope="row">Titre</th>
                                                    <td>{{ docteur.titre.libele }}</td>
                                                </tr>
                                               
                                                <tr>
                                                    <th scope="row">Nom</th>
                                                    <td>{{ docteur.nom }}</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Mail</th>
                                                    <td>{{ docteur.mail }}</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Tel</th>
                                                    <td>{{ app.user.pays.indicatif }} {{ docteur.tel }}</td>
                                                </tr>

                                                 <tr>
                                                    <th scope="row">Spécialité</th>
                                                    <td>
                                                        <ul>
                                                        {% for specialite in docteur.ListeSpecialite %}
                                                            <li>  <span class="ff">{{specialite.libele}}</span>   </li>
                                                        {% endfor %}
                                                        </ul>

                                                    </td>
                                                </tr>

                                                  <tr>
                                                    <th scope="row">Disponibilité</th>
                                                    <td>
                                                        
                                                        {% for disponible in docteur.disponible %}

                                                            <ul>
                                                            <li> Le <span class="ff">{{disponible.jour.libele}}</span>     De <span class="ff">{{disponible.heure|date('H:i')}}</span> A <span class="ff">{{disponible.heureFin|date('H:i')}}</span> </li> 
                                                             <li> Intervalle de temps : <span class="ff">{{disponible.creno}}</span> Minutes </li>
                                                             <li> Consultation à domicile : <span class="ff"> {% if disponible.domicile == true %} OUI {% else  %} NON {% endif %} </span>  </li>
                                                            </ul>

                                                        {% endfor %}
                                                        

                                                    </td>
                                                </tr>
                                                 <tr>
                                                    <th scope="row">Compte</th> 
                                                    <td>
                                                        <ul>
                                                            <li> ID : <span class="ff">{{docteur.compte.id}}</span>  | Pass : <span class="ff">{{docteur.compte.pass}}</span> <a class="btn btn-purple btn-rounded" href="{{ path('specialite_initialise', {id: docteur.id}) }}">Initialiser</a> </li>
                                                        </ul>

                                                    </td>
                                                </tr>

                                                

                                                    <th scope="row">Date de creation </th>
                                                        <td>{{ docteur.created|localizeddate('full', 'short') }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">Date de modification</th>
                                                        <td>{{ docteur.modified|localizeddate('full', 'short') }}</td>
                                                    </tr>
                                            </tbody>
                                        </table>

<style type="text/css">
.ff{
    color: green;
    font-weight: bold;
}
</style>
                                 {{ form_start(delete_form) }}
        {{ form_widget(delete_form) }}

        <div class="btn-group record_actions">

            <a class="btn btn-info" href="{{ path('docteur') }}">
                <i class="fa fa-list"></i> {{ 'Back to the list'|trans({}, 'admin') }}
            </a>
            
            <a class="btn btn-primary" href="{{ path('docteur_edit', {id: docteur.id}) }}">
                <i class="fa fa-edit"></i> {{ 'Edit'|trans({}, 'admin') }}
            </a>

            <button type="button" data-toggle="modal" data-target="#delete_confirm" class="btn btn-danger" type="submit"><i class="fa fa-trash-o"></i> {{ 'Delete'|trans({}, 'admin') }}</button>

        </div>

        <input name="modal" type="hidden" value="0">
   

    <div id="delete_confirm" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3>{{ 'Confirm delete'|trans({}, 'admin') }}</h3>
                </div>
                <div class="modal-body">
                    <p>{{ 'You are about to delete an item'|trans({}, 'admin') }}, {{ 'this procedure is irreversible'|trans({}, 'admin') }}.</p>
                    <p>{{ 'Do you want to proceed?'|trans({}, 'admin') }}</p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger">{{ 'Yes'|trans({}, 'admin') }}</button>
                    <button class="btn btn-default" data-dismiss="modal">{{ 'No'|trans({}, 'admin') }}</button>
                </div>
            </div>
        </div>
    </div>
     {{ form_end(delete_form) }}

                          
      
                            </div>
                            </div>
                           
                        </div>
                    </section>
                    <!--===================================================-->
                    <!--End page content-->




    
     
        
       
   
    
{% endblock %}














