{% extends "base.html.twig" %}

{% block title %}Contrat - {{ parent() }}{% endblock %}

{% block route %}

    <header class="section-header">
        <div class="tbl">
            <div class="tbl-row">
                <div class="tbl-cell">
                    <h3></h3>
                    <ol class="breadcrumb breadcrumb-simple pull-left">
                        <li><a href="{{ path('homepage') }}">Accueil</a></li>
                        <li><a href="{{ path('proprietaire') }}">Liste des propriétaires</a></li>
                        <li><a href="{{ path('contrat' , {id:contrat.locataire.id}) }}">Liste des locataires</a></li>
                        <li><a href="{{ path('contrat', {id: contrat.id}) }}">Liste des contrats</a></li>
                        <li class="active">Détail du contrat </li>
                    </ol>
                </div>
            </div>
        </div>
    </header>

{% endblock %}

{% block body %}

    <section class="card">
        <header class="card-header card-header-lg">
             Fiche du contrat
        </header>
            <div class="card-block">

                <div class="col-md-6">
             <table class="table table-hover record_properties">
                <tbody>
                    <tr>
                <th scope="row">Identifiant</th>
                <td>CONT-{{ contrat.id }}</td>
            </tr>
            <tr>
                <th scope="row">Type de contrat</th>
                <td>{{ contrat.type }}</td>
            </tr>
            <tr>
                <th scope="row">Date de signature</th>
                <td>{{ contrat.dateSignature|date('Y-m-d') }}</td>
            </tr>
            <tr>
                <th scope="row">Date début</th>
                <td>{{ contrat.dateDebut|date('Y-m-d H:i:s') }}</td>
            </tr>
                </tbody>
            </table>
                    

            </div>
             <div class="col-md-6">
                <table class="table table-hover record_properties">
                    <tbody>
                        <tr>
                            <th scope="row">Date de fin</th>
                            <td>{{ contrat.dateFin|localizeddate('full', 'short') }}</td>
                        </tr>
                      
                        <tr>
                        <th scope="row">Date d'enregistrement :</th>
                            <td>{{ contrat.created|localizeddate('full', 'short') }}</td>
                         </tr>
                        <tr>
                            <th scope="row">Dernière modification :</th>
                            <td>{{ contrat.modified|localizeddate('full', 'short') }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>           

        </div>
    </section>

    <table class="table table-hover record_properties">
        <tbody>
            
            
        </tbody>
    </table>

    {{ form_start(delete_form) }}
        {{ form_widget(delete_form) }}

        <div class="btn-group record_actions">

            <a class="btn btn-info" href="{{ path('contrat' , {id:contrat.locataire.id}) }}">
                <i class="fa fa-list"></i> {{ 'Back to the list'|trans({}, 'admin') }}
            </a>

            <a class="btn btn-primary" href="{{ path('contrat_edit', {id: contrat.id}) }}">
                <i class="fa fa-edit"></i> {{ 'Edit'|trans({}, 'admin') }}
            </a>
             <a class="btn btn-secondary" href="{{ path('contrat_word', {id: contrat.id}) }}">
                <i class="fa fa-file-word-o"></i> Généré le fichier word
            </a>
            <button class="btn btn-danger" type="submit"><i class="fa fa-trash-o"></i> {{ 'Delete'|trans({}, 'admin') }}</button>

        </div>

        <input name="modal" type="hidden" value="0">
    {{ form_end(delete_form) }}

    <div id="delete_confirm" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3>{{ 'Confirm delete'|trans({}, 'admin') }}</h3>
                </div>
                <div class="modal-body">
                    <p>{{ 'You are about to delete an item'|trans({}, 'admin') }}, {{ 'this procedure is irreversible'|trans({}, 'admin') }}.</p>
                    <p>{{ 'Do you want to proceed?'|trans({}, 'admin') }}</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger">{{ 'Yes'|trans({}, 'admin') }}</button>
                    <button class="btn btn-default" data-dismiss="modal">{{ 'No'|trans({}, 'admin') }}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}