{% extends 'base.html.twig' %}
{% block title %}Inscription Patient - {{ parent() }}{% endblock %}
{% block content %}
<div style="background: #00944A!important; height:10px!important;">
</div>
<div id="main" class="site-main">
  <div class="container active-sidebar">
    <div id="primary" class="content-area">
      <div id="content" class="site-content" role="main">
        <div id="post-62" class="entry post-62 page type-page status-publish hentry">
          <div class="entry-content">
            <div class="vc_row wpb_row vc_row-fluid vc_custom_1456310629405">
              <div class="row">
                <div class="h-padding-0 wpb_column vc_column_container vc_col-sm-12">
                  <div class="wpb_wrapper">
                    <div class="woocommerce">
                      <h2 style="color:#00944A" >Modifier mon  Mot de passe
                      </h2>
                      <div class="errorr">
                      </div>
                      {{ form_start(form, {"attr":{ "class":"f-user-signup f-user form-horizontal inscription"}}) }}

   {% for message in app.session.flashbag.get('notice') %}
        <div class="alert alert-dismissible alert-success">
  <button type="button" class="close" data-dismiss="alert">X</button>
 <span style="color:green; font-weight: bold;"> {{ message }} </span>
</div>
      {% endfor %}
      

                      
             {{ form_start(form, {"attr":{ "class":"panel-body form-horizontal erreur"}}) }}

                         <!--Text Input-->
                      <div class="form-group">
                        {{ form_label(form.current_password, "Mot de passe actuel", {'label_attr': {'class': 'col-md-4 control-label'}}) }}
                        <div class="col-md-8">
                          {{ form_widget(form.current_password , { 'attr' : {'placeholder' : 'Mot de passe actuel',  'class' : 'form-control genreI'  }} ) }}
                          <small class="help-block">{{ form_errors(form.current_password , { 'attr' : {'class' : 'red' }} ) }}
                          </small>
                        </div>
                      </div>

                        <!--Text Input-->
                      <div class="form-group">
                        {{ form_label(form.plainPassword.first, "Nouveau Mot de passe", {'label_attr': {'class': 'col-md-4 control-label'}}) }}
                        <div class="col-md-8">
                          {{ form_widget(form.plainPassword.first , { 'attr' : {'placeholder' : 'Nouveau Mot de passe',  'class' : 'form-control genreI'  }} ) }}
                          <small class="help-block">{{ form_errors(form.plainPassword.first , { 'attr' : {'class' : 'red' }} ) }}
                          </small>
                        </div>
                      </div>

                        <!--Text Input-->
                      <div class="form-group">
                        {{ form_label(form.plainPassword.second, "Confirmation du nouveau  Mot de passe", {'label_attr': {'class': 'col-md-4 control-label'}}) }}
                        <div class="col-md-8">
                          {{ form_widget(form.plainPassword.second , { 'attr' : {'placeholder' : 'Confirmation du nouveau  Mot de passe',  'class' : 'form-control genreI'  }} ) }}
                          <small class="help-block">{{ form_errors(form.plainPassword.second , { 'attr' : {'class' : 'red' }} ) }}
                          </small>
                        </div>
                      </div>
                      
                   
                      <div class="f__actions">
                        <span class="chargementI">
                           <a style="background-color:#262e31; color:#ffffff;" class="btn" href="{{ path('front_rdv_show') }}">
                <i class="fa fa-list"></i> Retour 
            </a>

                          <input style="background-color:#00944A!important; color:white" type="submit" class="btn btn-form btn-validate" value="modifier"> 
                        </span>
                       
                      </div>
                      {{ form_end(form) }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  </main>

<style type="text/css">
.inscription  li {
    background: none!important;
    color: red;
}



</style>
{% endblock %} 
{% block javascripts %}{% endblock %}
