{% extends 'base.html.twig' %}
{% block title %}Inscription Patient - {{ parent() }}{% endblock %}
{% block content %}
<div style="background: #00944A!important; height:10px!important;">
</div>
<div id="main" class="site-main">
  <div class="container active-sidebar">
    <div id="primary" class="content-area">
      <div id="content" class="site-content" role="main">
        <div id="post-62" class="entry post-62 page type-page status-publish hentry">
          <div class="entry-content">
            <div class="vc_row wpb_row vc_row-fluid vc_custom_1456310629405">
              <div class="row">
                <div class="h-padding-0 wpb_column vc_column_container vc_col-sm-12">
                  <div class="wpb_wrapper">
                    <div class="woocommerce">
                      <h2 style="color:#00944A" >Formulaire d'inscription
                      </h2>
                      <div class="errorr">
                      </div>
                      {{ form_start(form, {"attr":{ "class":"f-user-signup f-user form-horizontal inscription"}}) }}
                      <!--Text Input-->
                      <div class="form-group">
                        {{ form_label(form.profil.genre, "Genre *", {'label_attr': {'class': 'col-md-4 control-label'}}) }}
                        <div class="col-md-8">
                          {{ form_widget(form.profil.genre , { 'attr' : {'placeholder' : 'genre',  'class' : 'form-control genreI'  }} ) }}
                          <small class="help-block">{{ form_errors(form.profil.genre , { 'attr' : {'class' : 'red' }} ) }}
                          </small>
                        </div>
                      </div>
                      <!--Text Input-->
                      <div class="form-group">
                        {{ form_label(form.email, "Adresse e-mail *", {'label_attr': {'class': 'col-md-4 control-label'}}) }}
                        <div class="col-md-8">
                          {{ form_widget(form.email , { 'attr' : {'placeholder' : 'Adresse e-mail',  'class' : 'form-control mailI'  }} ) }}
                          <small class="help-block">{{ form_errors(form.email , { 'attr' : {'class' : 'red' }} ) }}
                          </small>
                        </div>
                      </div>
                      <!--Text Input-->
                      <div class="form-group">
                        {{ form_label(form.plainPassword.first, "Mot de passe *", {'label_attr': {'class': 'col-md-4 control-label '}}) }}
                        <div class="col-md-8">
                          {{ form_widget(form.plainPassword.first , { 'attr' : {'placeholder' : 'Mot de passe',  'class' : 'form-control passI'  }} ) }}
                          <small class="help-block">{{ form_errors(form.plainPassword.first , { 'attr' : {'class' : 'red' }} ) }}
                          </small>
                        </div>
                      </div>
                      <!--Text Input-->
                      <div class="form-group">
                        {{ form_label(form.plainPassword.second, "Confirmation Mot de passe *", {'label_attr': {'class': 'col-md-4 control-label'}}) }}
                        <div class="col-md-8">
                          {{ form_widget(form.plainPassword.second , { 'attr' : {'placeholder' : 'Confirmation Mot de passe',  'class' : 'form-control Ipass2'  }} ) }}
                          <small class="help-block">{{ form_errors(form.plainPassword.second , { 'attr' : {'class' : 'red' }} ) }}
                          </small>
                        </div>
                      </div>
                      <!--Text Input-->
                      <div class="form-group">
                        {{ form_label(form.profil.nom, " Nom de famille *", {'label_attr': {'class': 'col-md-4 control-label'}}) }}
                        <div class="col-md-8">
                          {{ form_widget(form.profil.nom , { 'attr' : {'placeholder' : 'Nom de famille',  'class' : 'form-control Inom'  }} ) }}
                          <small class="help-block">{{ form_errors(form.profil.nom , { 'attr' : {'class' : 'red' }} ) }}
                          </small>
                        </div>
                      </div>
                      <!--Text Input-->
                      <div class="form-group">
                        {{ form_label(form.profil.prenom, "Prénom *", {'label_attr': {'class': 'col-md-4 control-label'}}) }}
                        <div class="col-md-8">
                          {{ form_widget(form.profil.prenom , { 'attr' : {'placeholder' : 'Prénom',  'class' : 'form-control Iprenom'  }} ) }}
                          <small class="help-block">{{ form_errors(form.profil.prenom , { 'attr' : {'class' : 'red' }} ) }}
                          </small>
                        </div>
                      </div>
                      <!--Text Input-->
                      <div class="form-group">
                        {{ form_label(form.profil.lieuNaissance, "Lieu de Naissance *", {'label_attr': {'class': 'col-md-4 control-label'}}) }}
                        <div class="col-md-8">
                          {{ form_widget(form.profil.lieuNaissance , { 'attr' : {'placeholder' : 'Lieu de Naissance',  'class' : 'form-control Ilieu'  }} ) }}
                          <small class="help-block">{{ form_errors(form.profil.lieuNaissance , { 'attr' : {'class' : 'red' }} ) }}
                          </small>
                        </div>
                      </div>
                      <!--Text Input-->
                      <div class="form-group">
                        {{ form_label(form.profil.ville, "Ville de résidence * " , {'label_attr': {'class': 'col-md-4 control-label'}}) }}
                        <div class="col-md-8">
                          {{ form_widget(form.profil.ville , { 'attr' : {'placeholder' : 'Ville de résidence',  'class' : 'form-control Iville'  }} ) }}
                          <small class="help-block">{{ form_errors(form.profil.ville , { 'attr' : {'class' : 'red' }} ) }}
                          </small>
                        </div>
                      </div>
                      <!--Text Input-->
                      <div class="form-group">
                        {{ form_label(form.pays, "Pays de résidence * " , {'label_attr': {'class': 'col-md-4 control-label'}}) }}
                        <div class="col-md-8">
                          {{ form_widget(form.pays , { 'attr' : {'placeholder' : 'Pays de résidence',  'class' : 'form-control indicatiff Ipays'  }} ) }}
                          <small class="help-block">{{ form_errors(form.pays , { 'attr' : {'class' : 'red' }} ) }}
                          </small>
                        </div>
                      </div>
                      <!--Text Input-->
                      <div class="form-group">
                        {{ form_label(form.profil.tel, " Téléphone * " , {'label_attr': {'class': 'col-md-4 control-label '}}) }}
                        <div class="col-md-8">
                          <div class="input-group">
                            <span class="input-group-addon indicatif" >
                            </span>
                            {{ form_widget(form.profil.tel , { 'attr' : {'placeholder' : 'Téléphone',  'class' : 'form-control Itel'  }} ) }}
                            <small class="help-block">{{ form_errors(form.profil.lieuNaissance , { 'attr' : {'class' : 'red' }} ) }}
                            </small>
                          </div>
                        </div>
                      </div>
                      <!--Text Input-->
                      <div class="form-group">
                        {{ form_label(form.profil.dateNaissance, "Date de Naissance *", {'label_attr': {'class': 'control-label col-md-4'}}) }}
                        <div class="col-md-8">
                          {{ form_widget(form.profil.dateNaissance , { 'attr' : {'placeholder' : 'Date de Naissance',  'class' : ''  }} ) }}
                          <small class="help-block">{{ form_errors(form.profil.dateNaissance , { 'attr' : {'class' : 'red' }} ) }}
                          </small>
                        </div>
                      </div>
                      <div class="form-group">
                        <p>
                          En cliquant sur le bouton "S'enregistrer" ,  j'accepte les 
                          <a href="#" target="_blank">conditions générales
                          </a> d'utilisation du service. j'accepte aussi que certaines données de santé soient collectées pour les besoins du service proposé. Elles seront transmises uniquement à votre praticien.
                        </p>
                      </div>
                      <div class="f__actions">
                        <span class="chargementI">
                          <input style="background-color:#00944A!important; color:white" type="submit" class="btn btn-form btn-validate" value="S'enregistrer"> 
                        </span>
                        <span class="chargement1I" style="display:none">Chargement...
                        </span>
                      </div>
                      {{ form_end(form) }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  </main>
<script type="text/javascript">
  $('.inscription').submit(function(){
    mail = $(".mailI").val();
    genre = $(".genreI").val();
    pass = $('.passI').val();
    pass2 = $('.Ipass2').val();
    nom = $('.Inom').val();
    prenom = $('.Iprenom').val();
    lieu = $('.Ilieu').val();
    ville = $('.Iville').val();
    pays = $('.Ipays').val();
    tel = $('.Itel').val();
    jour = $('#fos_user_registration_profil_dateNaissance_day').val();
    mois = $('#fos_user_registration_profil_dateNaissance_month').val();
    anne = $('#fos_user_registration_profil_dateNaissance_year').val();
    if(mail != "" && pass != "" && pass2 != "" && nom != "" && prenom != "" && lieu != "" && ville != "" && pays != "" && tel != "" && jour != "" && mois != "" && anne != "" && genre != ""){
      if(pass == pass2){
        if(pass.length >=  6){
          $('.chargementI').hide();
          $('.chargement1I').show();
          formdata = {
            mail: mail , pass : pass , pass2:pass2 , nom:nom , prenom:prenom , lieu:lieu , ville:ville , pays:pays , tel:tel , jour:jour  , mois:mois , anne:anne, genre:genre    };
          $.ajax({
            url : "{{ path( 'inscription_patient_ajax') }}",
            type : 'post',
            data : formdata  ,
            success : function( statut){
              if(statut){
                if(statut == 1){
                  error = '<div class="alert alert-dismissible alert-danger">' + 
                    '<button type="button" class="close" data-dismiss="alert">x</button>' + 
                    " Votre adresse mail existe déja dans notre système! " +
                    '</div>';
                  $('.errorr').html(error);
                }
                if(statut == 2){
                  error = '<div class="alert alert-dismissible alert-danger">' + 
                    '<button type="button" class="close" data-dismiss="alert">x</button>' + 
                    " Votre numéro de Téléphone  existe déja dans notre système! " +
                    '</div>';
                  $('.errorr').html(error);
                }
                if(statut == 3){
                  url = "{{ path( 'mon_compte' )    }}";
                  location.href = url;
                }
                $('.chargementI').show();
                $('.chargement1I').hide();
              }
            }
            ,
            error : function(resultat, statut, erreur){
              if(statut){
                error = '<div class="alert alert-dismissible alert-danger">' + 
                  '<button type="button" class="close" data-dismiss="alert">x</button>' + 
                  erreur + " ! veuillez recommencer " +
                  '</div>';
                $('.errorr').html(error);
                $('.chargementI').show();
                $('.chargement1I').hide();
              }
            }
          }
                );
        }
        else{
          alert("le mot de passe doit contenir au moins 6 caractères!");
        }
      }
      else{
        alert("Les deux mots de passes ne correspondent pas !");
      }
    }
    else{
      alert("Tous les champs sont obligatoires!");
    }
    return false;
  }
                          );
  $(function() {
    var person = new Object();

    {% for pays in liste %}

      person[{{pays.id}}] = "{{pays.indicatif}}";
    {% endfor %}

        indice =   $('.indicatiff').val();
        $('.indicatif').text(person[indice]);
        $( ".indicatiff" ).change(function() {
          indice =   $(this).val();
          $('.indicatif').text(person[indice]);
        }
                                 );
      }
      );
</script>
{% endblock %} 
{% block javascripts %}{% endblock %}
