{% extends 'base.html.twig' %}
{% block title %}Mon Compte Patient - {{ parent() }}{% endblock %}
{% block content %}
<!-- #masthead -->
<div id="main" class="site-main">
  <div id="primary" class="content-area">
    <div id="content" class="site-content" role="main">
      <div id="post-77" class="entry post-77 page type-page status-publish hentry">
        <div class="entry-content">
          <div class="vc_row wpb_row vc_row-fluid muted-background vc_custom_1454169452554 " style="    padding-top: 119px !important;">
            <div class="row">
              <div class="h-padding-0 wpb_column vc_column_container vc_col-sm-12">
                <div class="wpb_wrapper">
                  <div class="vc_row wpb_row vc_inner vc_row-fluid container">
                    <div class="row">
                      <div class="wpb_column vc_column_container vc_col-sm-12">
                        <div class="wpb_wrapper">
                          <h1 style="font-size: 26px;color: #ffffff;line-height: 1.3;text-align: center" class="vc_custom_heading bold">Simplifiez la gestion de votre centre médical. 
                            <br/>
                            Prise de rendez-vous en ligne, SMS de rappel, communication patient en 1 clic.
                          </h1>
                          <div class="wpb_text_column wpb_content_element  vc_custom_1453992260097 dark large">
                            <div class="wpb_wrapper">
                            </div>
                          </div>
                          <div class="wpb_text_column wpb_content_element  close dark">
                            <div class="wpb_wrapper">
                            </div>
                          </div>
                          <!-- entry -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="vc_row wpb_row vc_row-fluid gray-background vc_custom_1454156217945">
            <div class="row">
              <div class="h-padding-0 wpb_column vc_column_container vc_col-sm-12">
                <div class="wpb_wrapper">
                  <h2 style="text-align: center" class="vc_custom_heading"> 
                  </h2>
                  <div class="vc_row wpb_row vc_inner vc_row-fluid container columns-offset-30-max-width-768">
                    <div class="row">
                      <div class="wpb_column vc_column_container vc_col-sm-4">
                        <div class="wpb_wrapper">
                          <div class="entry  feature">
                            <div class="entry-icon">
                              <i class="fa fa-clock-o fa-2x argument-icon">
                              </i>
                            </div>
                            <div class="entry-data">
                              <div class="entry-header">
                                <div class="entry-title">Gagnez 30% de temps de secrétariat
                                </div>
                              </div>
                              <!-- header -->
                              <div class="entry-content">
                              </div>
                            </div>
                            <!-- data -->
                          </div>
                          <!-- entry -->
                        </div>
                      </div>
                      <div class="wpb_column vc_column_container vc_col-sm-4">
                        <div class="wpb_wrapper">
                          <div class="entry  feature accent-1-color">
                            <div class="entry-icon">
                              <i class="fa fa-calendar fa-2x argument-icon">
                              </i>
                            </div>
                            <div class="entry-data">
                              <div class="entry-header">
                                <div class="entry-title">Réduisez de 75% vos rendez-vous non honorés 
                                </div>
                              </div>
                              <!-- header -->
                              <div class="entry-content">
                              </div>
                            </div>
                            <!-- data -->
                          </div>
                          <!-- entry -->
                        </div>
                      </div>
                      <div class="wpb_column vc_column_container vc_col-sm-4">
                        <div class="wpb_wrapper">
                          <div class="entry  feature accent-2-color">
                            <div class="entry-icon"> 
                              <i class="fa fa-globe fa-2x argument-icon">
                              </i>
                            </div>
                            <div class="entry-data">
                              <div class="entry-header">
                                <div class="entry-title">Apportez un service nouveau 
                                  pour vos patients 
                                </div>
                              </div>
                              <!-- header -->
                              <div class="entry-content">
                              </div>
                            </div>
                            <!-- data -->
                          </div>
                          <!-- entry -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="vc_row wpb_row vc_row-fluid container columns-offset-30-max-width-768 v-align-columns vc_custom_1454681678954">
            <div class="row">
              <div class="wpb_column vc_column_container vc_col-sm-12">
                <div class="wpb_wrapper" style="text-align:center">
                  <br/>
                  <br/>
                  <a href="#" style="background-color:#00944A; color:#ffffff;" class="btn prendreRDV" title="Inscrivez-vous gratuitement">En savoir plus
                  </a>
                  <br/>
                  <br/>
                </div>
              </div>
            </div>
          </div>
          <div class="vc_row wpb_row vc_row-fluid branded-background vc_custom_1454170218970">
            <div class="row">
              <div class="h-padding-0 wpb_column vc_column_container vc_col-sm-12">
                <div class="wpb_wrapper">
                  <div class="vc_row wpb_row vc_inner vc_row-fluid container columns-offset-30-max-width-768 vc_custom_1454000261473">
                    <div class="row">
                      <div class="wpb_column vc_column_container vc_col-sm-6">
                        <div class="wpb_wrapper">
                          <h2 style="font-size: 26px;color: #ffffff;text-align: left" class="vc_custom_heading vc_custom_1454000009451">Diminuez votre
                            nombre d’appels reçus
                          </h2>
                          <div class="wpb_text_column wpb_content_element  dark normal">
                            <div class="wpb_wrapper">
                              <p>Nous  simplifions la prise de rendez-vous et nous vous aidons à réduire le flux d’appels entrants.                            Vos patients peuvent prendre rendez-vous en quelques clics 7j/7 et 24h/24. 
                              </p>
                            </div>
                          </div>
                          <!-- entry -->
                        </div>
                        <div class="wpb_wrapper">
                          <h2 style="font-size: 26px;color: #ffffff;text-align: left" class="vc_custom_heading vc_custom_1454000009451">Réduisez de 75% vos rendez-vous non honorés
                          </h2>
                          <div class="wpb_text_column wpb_content_element  dark normal">
                            <div class="wpb_wrapper">
                              <p>Vos patients reçoivent une confirmation et des rappels par emails et SMS comportant toutes les informations d’accès à votre cabinet. 
                              </p>
                            </div>
                          </div>
                          <!-- entry -->
                        </div>
                      </div>
                      <div class="wpb_column vc_column_container vc_col-sm-6">
                        <div class="wpb_wrapper">
                          <h2 style="font-size: 26px;color: #ffffff;text-align: left" class="vc_custom_heading vc_custom_1454000048303">Apportez un service nouveau pour vos patients
                          </h2>
                          <div class="wpb_text_column wpb_content_element  dark normal">
                            <div class="wpb_wrapper">
                              <p> Proposez à vos patients une nouvelle expérience de prise de rendez-vous en ligne  24 heures sur 24 et 7 jours sur 7. 
                              </p>
                            </div>
                          </div>
                          <!-- entry -->
                        </div>
                        <div class="wpb_wrapper">
                          <h2 style="font-size: 26px;color: #ffffff;text-align: left" class="vc_custom_heading vc_custom_1454000048303">Communiquez avec vos patients 
                          </h2>
                          <div class="wpb_text_column wpb_content_element  dark normal">
                            <div class="wpb_wrapper">
                              <p>Depuis votre agenda , vous constituez et enrichissez votre base patients. Conservez les informations relatives à vos patients, retrouvez tous leurs RDV à venir et gardez un historique de vos consultations et de vos communications avec eux. 
                              </p>
                            </div>
                          </div>
                          <!-- entry -->
                        </div>
                      </div>
                      <div class="vc_col-sm-2"></div>
                      <div class="wpb_column vc_column_container vc_col-sm-8">
                      	<br/><br/>
                        <div class="wpb_wrapper">
                          <div class="woocommerce" id="praticien">
                            <h2 style="color:white" >
                              Vous êtes praticien ou un centre de santé ? Demandez des informations.
                            </h2>
                            <div class="errorr">
                            </div>
                            <form method="post" action="#" class="form-horizontal praticien">
                              <!--Text Input-->
                              <div class="form-group">
                                <input type="text" class="form-control nom"  placeholder="Nom de famille"  required>
                                <small class="help-block">
                                </small>
                              </div>
                              <!--Text Input-->
                              <div class="form-group">
                                <input type="tel" class="form-control prenom"  placeholder="Prénom"  required>
                                <small class="help-block">
                                </small>
                              </div>
                            
                               <!--Text Input-->
                      <div class="form-group">
                        
                         <select class="form-control specialite"  required >
                          <option value="">Spécialité
                          </option>
                          {% for specialite in specialites %}
                          <option value="{{specialite.libele}}">{{specialite.libele}}
                          </option>
                          {% endfor %}
                        </select>
                      
                        </div>

                          <div class="form-group">
                        
                         <select class="form-control pays indicatiff"  required >
                         
                          {% for item in pays %}
                          <option value="{{item.id}}">{{item.nom}}
                          </option>
                          {% endfor %}
                        </select>
                      
                        </div>

                          <!--Text Input-->
                              <div class="form-group">
                              	<div class="input-group">
		                            <span class="input-group-addon indicatif" >
		                            </span>
                                <input type="text" class="form-control tel"  placeholder="Téléphone Portable"  required>
                                </div>
                              </div>

                         <div class="form-group">
                                <input type="text" class="form-control ville"  placeholder="Ville"  required>
                                <small class="help-block">
                                </small>
                          </div>

                              <!--Text Input-->
                              <div class="form-group">
                                <textarea rows="5" class="form-control com" placeholder="Commentaire"  ></textarea>
                                <small class="help-block">
                                </small>
                              </div>
                              <div class="f__actions">
                                <span class="chargementI" style="text-align:center">
                                  <input style="background-color:white!important; color:#00955A ; font-weight: bold;" type="submit" class="btn btn-form btn-validate" value="Envoyer"> 
                                </span>
                                <span style="color:white; font-weight: bold; display:none " class="chargementP">
                                	Chargement...
                                </span>
                                </form>
                              </div>
                          </div>
                        </div>
                      <div class="vc_col-sm-2"></div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- .entry-content -->
        </div>
        <!-- #post -->
      </div>
      <!-- #content -->
    </div>
    <!-- #primary -->
  </div>
  <!-- #main -->
  <script type="text/javascript">

   $(function() {
    var person = new Object();

    {% for item in pays %}

      person[{{item.id}}] = "{{item.indicatif}}";
    {% endfor %}

        indice =   $('.indicatiff').val();
        $('.indicatif').text(person[indice]);
        $( ".indicatiff" ).change(function() {
          indice =   $(this).val();
          $('.indicatif').text(person[indice]);
        }
                                 );
      }
      );

$('.prendreRDV').click(function() {
  $("html,body").animate({scrollTop: $("#praticien").offset().top},1200, "easeOutBounce");
  return false;
  });

$('.praticien').submit(function() {

nom = $('.nom').val();
prenom = $('.prenom').val();
tel = $('.tel').val();
specialite = $('.specialite').val();
com = $('.com').val();
ville = $('.ville').val();
pays = $('.pays').val();

		
	if(nom != "" && prenom != "" && tel != "" && specialite != "" && com != ""){

		 formdata = {nom: nom , prenom : prenom , tel:tel , specialite:specialite , commentaire:com , ville:ville, pays:pays };

			$('.chargementP').show();  $('.chargementI').hide();
            $.ajax({
               url : "{{ path( 'professionel') }}",
               type : 'post',
               data : formdata  ,
               success : function( statut){

                       if(statut){
                       			if(statut == 1){
                       				 error = '<div class="alert alert-dismissible alert-success">' + 
                               "Nous avons bien reçu votre requete , nous vous recontacterons d'ici peu ! " +
                            '</div>';
                            	$('.errorr').html(error);
                       			}

                       	$('.chargementP').hide();  $('.chargementI').show();
                       }

                      },

               error : function(resultat, statut, erreur){

                if(statut){

                     error = '<div class="alert alert-dismissible alert-danger">' + 
                              '<button type="button" class="close" data-dismiss="alert">x</button>' + 
                               erreur + " ! veuillez recommencer " +
                            '</div>';
                 $('.errorr').html(error);
                 	$('.chargementP').hide();  $('.chargementI').show();
                }
                 
               }

              

            });


	}else{
		alert("Tous les champs sont obligatoires!")
	}


  return false;
  });
  </script>
  {% endblock %}
