<!-- ticket start -->
<div id="ticket_form" class="modal fade">
    {{ form_start(ticket_form, { action: path('ticket'), method: 'post', 'attr': { "class": "ticket-form"} }) }}
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 style="color: #6b1407;margin-bottom: inherit;">Commander un ticket</h2>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="ticket-name">Nom et prénom*</label>
                            {{ form_widget(ticket_form.name, {"attr": {"class":"form-control" }}) }}
                            {{ form_errors(ticket_form.name) }}
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="ticket-name">Téléphone*</label>
                            {{ form_widget(ticket_form.phone, {"attr": {"class":"form-control" }}) }}
                            {{ form_errors(ticket_form.phone) }}
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="ticket-name">Adresse*</label>
                            {{ form_widget(ticket_form.address, {"attr": {"class":"form-control" }}) }}
                            {{ form_errors(ticket_form.address) }}
                        </div>
                    </div>
                    <div class="col-sm-8 col-xs-12" id="ticket_place">
                        <div class="form-group">
                            <label for="ticket-name">Lieu de diffusion*</label>
                            {{ form_widget(ticket_form.place, {"attr": {"class":"form-control" }}) }}
                            {{ form_errors(ticket_form.place) }}
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="ticket-name">Nombre de ticket*</label>
                            {{ form_widget(ticket_form.ticketNumber, {"attr": {"class":"form-control" }}) }}
                            {{ form_errors(ticket_form.ticketNumber) }}
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="ticket-name">Total</label>
                            {{ form_widget(ticket_form.total, {"attr": {"class":"form-control" }}) }}
                            {{ form_errors(ticket_form.total) }}
                        </div>
                    </div>
                    {{ form_widget(ticket_form.route, { 'attr': { 'value': route } }) }}
                    {{ form_widget(ticket_form.parameters, { 'attr': { 'value': parameters } }) }}
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">Anuller</button>
                <button class="btn btn-danger">Commander</button>
            </div>
        </div>
    </div>
    {{ form_end(ticket_form) }}
</div>
<!-- ticket end -->