{% extends 'base.html.twig' %}

{% block title %}Mon Compte Patient - {{ parent() }}{% endblock %}


{% block content %}
<div style="background: #00944A!important; height:10px!important;">
               
        </div>
<div style=""> 
 <div class="container">

<div id="main" class="site-main">

            <div class="container active-sidebar">
                <div id="primary" class="content-area">
                    <div id="content" class="site-content" role="main">
                        <div id="post-378" class="entry post-378 page type-page status-publish hentry">
                            <div class="entry-content">
                                <div class="vc_row wpb_row vc_row-fluid">
                                    <div class="row">
                                        <div class="h-padding-0 wpb_column vc_column_container vc_col-sm-12">
                                            <div class="wpb_wrapper">
                                                <div class="wpb_text_column wpb_content_element  woocommerce">
                                                    <div class="wpb_wrapper">
                                                        

                                                        <hr>
                                                        <h3>Votre Profil</h3>
                                                        

                                                    
                                        <table class="table table-hover record_properties">
                                            <tbody>

                                                   
                                              <tr>
                                                    <th scope="row"></th>
                                                    <td> <img src="{{ asset(app.user.profil.user.webpath) }} " style="height:120px;"> </td>
                                                </tr>
                                              
                                                <tr>
                                                    <th scope="row">Nom</th>
                                                    <td>{{ app.user.profil.nom }}</td>
                                                </tr>
                                               
                                                <tr>
                                                    <th scope="row">Prénom</th>
                                                    <td>{{ app.user.profil.prenom }}</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Lieu de Naissance</th>
                                                    <td>{{ app.user.profil.lieuNaissance }}</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Ville de résidence</th>
                                                    <td>{{ app.user.profil.ville }} </td>
                                                </tr>

                                                <tr>
                                                    <th scope="row">Pays de résidence</th>
                                                    <td>{{ app.user.profil.user.pays.nom }} </td>
                                                </tr>

                                                <tr>
                                                    <th scope="row">Numéro de Téléphone</th>
                                                    <td>{{ app.user.profil.user.pays.indicatif }} {{ app.user.profil.tel }} </td>
                                                </tr>

                                                <tr>
                                                    <th scope="row">Adresse Mail</th>
                                                    <td>{{ app.user.profil.user.email }} </td>
                                                </tr>

                                                <tr>
                                                    <th scope="row">Date de Naissance</th>
                                                    <td>{{ app.user.profil.dateNaissance|localizeddate('full', 'none') }} </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Groupe Sanguin </th>
                                                    <td>{{ app.user.profil.groupeSanguin }}  </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">etes vous Assuré ? </th>
                                                    <td> {% if app.user.profil.assurer == true  %} OUI {% else %} NON {% endif %}  </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Compagnie d'assurance </th>
                                                    <td>{{ app.user.profil.compagnieAssurance }}  </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">identifiant d'assurance </th>
                                                    <td>{{ app.user.profil.numeroAssurance }}  </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Commentaire </th>
                                                    <td>{{ app.user.profil.note }}  </td>
                                                </tr>

                                              
                                                

                                            </tbody>
                                        </table>
    


  <div class="btn-group record_actions">

            <a style="background-color:#00944A; color:#ffffff;" class="btn" href="{{ path('mon_compte') }}">
                <i class="fa fa-list"></i> {{ 'Back to the list'|trans({}, 'admin') }} 
            </a>
            
            <a style="background-color:#262e31; color:#ffffff;" class="btn" href="{{ path('front_rdv_edit') }}">
                <i class="fa fa-edit"></i> Modifier mes informations
            </a>

       

        </div>


                                                

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- .entry-content -->
                        </div>
                        <!-- #post -->
                    </div>
                    <!-- #content -->
                </div>
                <!-- #primary -->
                <div id="tertiary" class="sidebar-container shop" role="complementary">
                    <div class="sidebar-inner">
                        <div class="widget-area clearfix">
                            <div id="vc_widget-18" class="widget-9 widget-odd widget widget_vc_widget">
                                <div class="scoped-style">
                                    <style type="text/css" data-type="vc_shortcodes-custom-css" scoped>
                                        .vc_custom_1456310629405 {
                                            margin-bottom: 0px !important;
                                        }
                                    </style>
                                    <div class="vc_row wpb_row vc_row-fluid vc_custom_1456310629405">
                                        <div class="row">
                                          {% include 'default/menu.html.twig' %}
                                        </div>
                                    </div>
                                </div>
                            </div>

                         
                        </div>
                        <!-- .widget-area -->
                    </div>
                    <!-- .sidebar-inner -->
                </div>
                <!-- #tertiary -->
            </div>

        </div>

</div>
</div>


{% endblock %}