{% extends "base.html.twig" %}

{% block title %}{{ '%entity% list'|trans({'%entity%': 'Setting'}, 'admin') }} - {{ parent() }}{% endblock %}

{% block body %}
    <h1>{{ '%entity% list'|trans({'%entity%': 'Setting'}, 'admin') }}</h1>
    <table class="table table-striped table-hover table-bordered records_list">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">About</th>
                <th scope="col">{{ 'Actions'|trans({}, 'admin') }}</th>
            </tr>
        </thead>
        <tbody>
            {% for setting in entities %}
                <tr>
                    <td><a href="{{ path('admin_settings_show', {id: setting.id}) }}">{{ setting.id }}</a></td>
                    <td>{{ setting.title }}</td>
                    <td>{{ setting.description }}</td>
                    <td>{{ setting.about }}</td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-default btn-sm" href="{{ path('admin_settings_show', {id: setting.id}) }}">
                                <i class="fa fa-file-o"></i> {{ 'show'|trans({}, 'admin') }}
                            </a>
                            <a class="btn btn-default btn-sm" href="{{ path('admin_settings_edit', {id: setting.id}) }}">
                                <i class="fa fa-edit"></i> {{ 'edit'|trans({}, 'admin') }}
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <ul class="new_entry list-unstyled">
        <li>
            <a class="btn btn-info" href="{{ path('admin_settings_new') }}">
                <i class="fa fa-plus"></i> {{ 'Create a new entry'|trans({}, 'admin') }}
            </a>
        </li>
    </ul>
    
{% endblock %}
