
{% extends "docteur.html.twig" %}

{% block title %}{{ '%entity% list'|trans({'%entity%': 'Détail Rendez-vous'}, 'admin') }} - {{ parent() }}{% endblock %}

    {% block file %}

      <h3><i class="fa fa-home"></i> Interface Spécialiste </h3>
                        <div class="breadcrumb-wrapper">
                            <span class="label">vous etes ici :</span>
                            <ol class="breadcrumb">
                                <li> <a href="{{ path('docteur_pro_connecter') }}"  > Accueil </a> </li>
                                 <li> <a href="#"  class="active"  > Détail Rendez-vous </a> </li>
                            </ol>
                        </div>
                      
    {% endblock %}
{% block body %}




<!--Page content-->
                    <!--===================================================-->
                    <section id="page-content">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel">
                                    <div class="panel-heading">
                                        <div class="panel-control">
                                            <button class="btn btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></button>
                                        </div>
                                        <h3 class="panel-title">Fiche Rendez-vous N° {{rdv.id}}</h3>
                                    </div>
                                    <!-- BASIC FORM ELEMENTS -->
                                    <!--===================================================-->

                                      {% for message in app.session.flashbag.get('notice') %}
        <div class="alert alert-dismissible alert-success">
  <button type="button" class="close" data-dismiss="alert">X</button>
 <span style="color:green; font-weight: bold;"> {{ message }} </span>
</div>
      {% endfor %}
                                       
                                            <table class="table table-hover record_properties">
                                            <tbody>

                                                   
                                                <tr>
                                                    <th scope="row">Patient</th>
                                                    <td><a  data-toggle="modal" href="#plan" >{{rdv.profil.nom}} {{rdv.profil.prenom}}</a></td>
                                                </tr>
                                                  <tr>
                                                    <th scope="row">Spécialité</th>
                                                    <td>{{rdv.specialite.libele}}</td>
                                                </tr> 
                                                  <tr>
                                                    <th scope="row">Docteur</th>
                                                    <td>{{rdv.docteur.nom}} </td>
                                                </tr>
                                                 <tr>
                                                    <th scope="row">Date du rendez-vous</th>
                                                    <td> {{rdv.dateRdv|localizeddate('full', 'short')}} </td>
                                                </tr> 
                                                <tr>
                                                    <th scope="row">Consultation au domicile du patient ?</th>
                                                    <td> 
                                                        {% if rdv.domicile == true %} OUI {% else %} NON {% endif %}
                                                        
                                                    </td>
                                                </tr>
                                                 <tr>
                                                    <th scope="row">Commentaire pour le Docteur</th>
                                                    <td> {{rdv.commentaire}} </td>
                                                </tr>

                                                 <tr>
                                                    <th scope="row">Bilan du  Docteur</th>
                                                    <td> {{rdv.bilan}} </td>
                                                </tr>

                                                <tr>
                                                    <th scope="row">Statut </th>
                                                    <td>
                                    {% if rdv.statut == 0 %} <span class="label label-primary">En Cour</span> {% endif %}
                                 {% if rdv.statut == 1 %} <span class="label label-info">Terminer</span> {% endif %}
                                    {% if rdv.statut == 2 %} <span class="label label-warning">Annuler</span> {% endif %}


                                                     </td>
                                                </tr>

                                                <tr>
                                                    <th scope="row">date de prise du rendez-vous</th>
                                                    <td> {{rdv.created|localizeddate('full', 'short')}} </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">date de modification du rendez-vous</th>
                                                    <td> {{rdv.modified|localizeddate('full', 'short')}} </td>
                                                </tr>
                                               
                                               
                                                

                                            </tbody>
                                        </table>


 <div id="plan" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">


                     <table class="table table-hover record_properties">
                                            <tbody>

                                                 <tr>
                                                    <th scope="row"></th>
                                                    <td> <img src="{{ asset(rdv.profil.user.webpath) }} " style="height:120px;"> </td>
                                                </tr>
                                              
                                                <tr>
                                                    <th scope="row">Nom</th>
                                                    <td>{{ rdv.profil.nom }}</td>
                                                </tr>
                                               
                                                <tr>
                                                    <th scope="row">Prénom</th>
                                                    <td>{{ rdv.profil.prenom }}</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Lieu de Naissance</th>
                                                    <td>{{ rdv.profil.lieuNaissance }}</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Ville de résidence</th>
                                                    <td>{{ rdv.profil.ville }} </td>
                                                </tr>

                                                <tr>
                                                    <th scope="row">Pays de résidence</th>
                                                    <td>{{ rdv.profil.user.pays.nom }} </td>
                                                </tr>

                                                <tr>
                                                    <th scope="row">Numéro de Téléphone</th>
                                                    <td>{{ rdv.profil.user.pays.indicatif }} {{ rdv.profil.tel }} </td>
                                                </tr>

                                                <tr>
                                                    <th scope="row">Adresse Mail</th>
                                                    <td>{{ rdv.profil.user.email }} </td>
                                                </tr>

                                                <tr>
                                                    <th scope="row">Date de Naissance</th>
                                                    <td>{{ rdv.profil.dateNaissance|localizeddate('full', 'none') }} </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Groupe Sanguin </th>
                                                    <td>{{ rdv.profil.groupeSanguin }}  </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Le Patient est-il Assuré ? </th>
                                                    <td> {% if rdv.profil.assurer == true  %} OUI {% else %} NON {% endif %}  </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Compagnie d'assurance </th>
                                                    <td>{{ rdv.profil.compagnieAssurance }}  </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">identifiant d'assurance </th>
                                                    <td>{{ rdv.profil.numeroAssurance }}  </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Commentaire </th>
                                                    <td>{{ rdv.profil.note }}  </td>
                                                </tr>

                                               

                                                

                                                

                                                   
                                            </tbody>
                     </table>   
                                             
                </div>
               
            </div>
        </div>
    </div>


<style type="text/css">
.ff{
    color: green;
    font-weight: bold;
}
</style>
          
   
    <div class="btn-group record_actions">

            <a class="btn btn-info" href="{{ path('pro_rdv_liste_doc') }}">
                <i class="fa fa-list"></i> {{ 'Back to the list'|trans({}, 'admin') }}
            </a>
            
            {% if rdv.statut == 0 %}
           

{% endif %}

        </div>

                          
      
                            </div>
                            </div>
                           
                        </div>
                    </section>
                    <!--===================================================-->
                    <!--End page content-->




    
     
        
       
   
    
{% endblock %}














