
    <section class="card">
        <header class="card-header card-header-lg">
            Liste des locataires 
           
              <a data-toggle="modal" data-target="#newLocataire" class="btn btn-info pull-right" href="{{ path('docteur_new') }}">
                                    <i class="fa fa-plus"></i> {{ 'Create a new entry'|trans({}, 'admin') }}
            </a>
        <div id="newLocataire" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3>Ajouter un nouveau locataire</h3>
                </div>
                <div class="modal-body" style="text-align:center">

                    <a class="btn btn-rounded btn-inline AjouterNewLocataireMorale" href="{{ path('locataire_new', {type: "entreprise" } ) }}">
                                 Personne Morale
                    </a>
                     <a class="btn btn-rounded btn-inline AjouterNewLocataireP" href="{{ path('locataire_new', {type: "particulier"  } ) }}">
                                 Personne Physique
                    </a>
                </div>
              
            </div>
        </div>
    </div>
        </header>
        <div class="card-block">  
            <section class="card">
                <div class="card-block">
                    <table  class="display table table-bordered datatable" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th>Identification</th>
                            <th>Type</th>
                            <th>Raison sociale</th>
                            <th>Contact</th>
                            <th>{{ 'Actions'|trans({}, 'admin') }}</th>
                        </tr>
                        </thead>    
                        
                        <tbody>
                            {% for user in entities %}
                                {% if  user.locataire !=  null  %} 
                                {% if   user.locataire.entreprise != null  %} 
                                <tr>
                                    <td><a href="{{ path('locataire_show', {id: user.id}) }}">LOC-{{ user.id }}</a></td>
                                    <td> <span class="label label-warning">Entreprise</span></td>
                                    <td>{{ user.locataire.entreprise.raisonSocial }} </td>
                                    <td>{{ user.locataire.entreprise.telBureau }}</td>
                                    <td>
                                          <div class="btn-group">
                                    <a class="btn btn-inline btn-success btn-sm btnShow" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target=".showLocataire" data-id="{{ user.id }}" data-type="entreprise" >
                                        <i class="fa fa-file-o"></i> {{ 'show'|trans({}, 'admin') }}
                                    </a> 
                                  
                                </div>
                                    </td>
                                </tr>
                                {% else %}
                                <tr>
                                    <td><a href="{{ path('locataire_show', {id: user.id}) }}">LOC-{{ user.id }}</a></td>
                                    <td>  <span class="label label-secondary">Particluier</span></td>
                                    <td>{{ user.locataire.particulier.nom }} {{ user.locataire.particulier.prenom }}</td>
                                    <td>{{ user.locataire.particulier.telephone }}</td>
                                    <td>
                                    <div class="btn-group">
                                    <a data-toggle="modal" data-target=".showLocataire" data-id="{{ user.id }}" data-backdrop="static" data-keyboard="false" data-type="particulier" class="btn btn-inline btn-success btn-sm btnShow" href="#">
                                        <i class="fa fa-file-o"></i> {{ 'show'|trans({}, 'admin') }}
                                    </a> 
                                  
                                         </div>
                                    </td>
                                </tr>
                                {% endif %}
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </section>                    
        </div>
    </section>



<div class="modal fade showLocataire in" tabindex="-1" role="dialog" style="height: auto; overflow: auto;"  >
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close">
                  <i class="font-icon-close-2"></i>
                </button>
              </div>
              <div class="modal-body">
                <div class="contshowLocataire">
                  
                  
                </div>
              </div>
              
            </div>
          </div>
        </div>


<div class="modal fade NewLocataire in" tabindex="-1" role="dialog" style="height: auto; overflow: auto;"  >
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close">
                  <i class="font-icon-close-2"></i>
                </button>
              </div>
              <div class="modal-body">
                <div class="contNewLocataire">
                  
                  
                </div>
              </div>
              
            </div>
          </div>
        </div>

  <div class="modal fade NewContrat in" tabindex="-1" role="dialog" style="height: auto; overflow: auto;"  >
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close">
                  <i class="font-icon-close-2"></i>
                </button>
              </div>
              <div class="modal-body">
                <div class="contNewContrat">
                  
                  
                </div>
              </div>
              
            </div>
          </div>
        </div>
        




    
<script type="text/javascript">

$('.btnShow').click(function(){

    id = $(this).data('id');
    type = $(this).data('type');
  url = "{{ path( 'locataire_show' , {id: "id"  } )    }}";
 url = url.replace("id", id);

         formdata = { id:"1" };
 $('.contshowLocataire').html("<div style=\"text-align:center\"><img src=\"{{ asset('theme/ripple.svg') }}\"></div>");
       $.ajax({
                    url : url,
                    type : 'post',
                    data : formdata  ,
                    success : function( statut){
                      if(statut){
                        $('.contshowLocataire').html(statut);
                      }
                    }
                    ,
                    error : function(resultat, statut, erreur){
                      if(statut){
                        error = '<div class="alert alert-dismissible alert-danger">' + 
                          '<button type="button" class="close" data-dismiss="alert">x</button>' + 
                          erreur + " ! veuillez recommencer " +
                          '</div>';
                        $('.contshowLocataire').html(error);
                      }
                    }
                  }
              );

});



$('.AjouterNewLocataireP').click(function(){

        $('#newLocataire').modal('hide');
        $(".NewLocataire").modal({backdrop: "static"});
         $('.NewLocataire').modal('show');


         formdata = { id:"1" };
        $('.contNewLocataire').html("<div style=\"text-align:center\"><img src=\"{{ asset('theme/ripple.svg') }}\"></div>");
       $.ajax({
                    url : "{{ path('locataire_new', {type: 'particulier' } ) }}",
                    type : 'post',
                    data : formdata  ,
                    success : function( statut){
                      if(statut){
                        $('.contNewLocataire').html(statut);
                      }
                    }
                    ,
                    error : function(resultat, statut, erreur){
                      if(statut){
                        error = '<div class="alert alert-dismissible alert-danger">' + 
                          '<button type="button" class="close" data-dismiss="alert">x</button>' + 
                          erreur + " ! veuillez recommencer " +
                          '</div>';
                        $('.contNewLocataire').html(error);
                      }
                    }
                  }
              );



return false;
});

$('.AjouterNewLocataireMorale').click(function(){

        $('#newLocataire').modal('hide');
        $(".NewLocataire").modal({backdrop: "static"});
         $('.NewLocataire').modal('show');


         formdata = { id:"1" };
        $('.contNewLocataire').html("<div style=\"text-align:center\"><img src=\"{{ asset('theme/ripple.svg') }}\"></div>");
       $.ajax({
                    url : "{{ path('locataire_new', {type: 'entreprise' } ) }}",
                    type : 'post',
                    data : formdata  ,
                    success : function( statut){
                      if(statut){
                        $('.contNewLocataire').html(statut);
                      }
                    }
                    ,
                    error : function(resultat, statut, erreur){
                      if(statut){
                        error = '<div class="alert alert-dismissible alert-danger">' + 
                          '<button type="button" class="close" data-dismiss="alert">x</button>' + 
                          erreur + " ! veuillez recommencer " +
                          '</div>';
                        $('.contNewLocataire').html(error);
                      }
                    }
                  }
              );



return false;
});

</script>