
{{ form_start(edit_form, {"attr":{ "class":"FormEditLocative "} }) }}


    <section class="card">
        <div class="card-block">
            <h4 class="with-border">Modifier la locative : <span style="color:green">{{locative.type}}</span>  </h4>
            <span class="erreur"></span>
            <div class="row">    
                <!-- FRMULAIRE BIEN -->
                <div class="col-lg-6">
                                         
                    <fieldset class="form-group">
                        {{ form_label(edit_form.piece, "Nombre de pièces", {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(edit_form.piece , { 'attr' : {'placeholder' : 'Nombre de pièces',  'class' : 'form-control'  }} ) }}
                        <small class="help-block">{{ form_errors(edit_form.piece , { 'attr' : {'class' : 'red' }} ) }}</small>
                    </fieldset>
                    <fieldset class="form-group">
                        {{ form_label(edit_form.loyer, "Montant du loyer", {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(edit_form.loyer , { 'attr' : {'placeholder' : 'Montant du loyer',  'class' : 'form-control'  }} ) }}
                        <small class="help-block">{{ form_errors(edit_form.loyer , { 'attr' : {'class' : 'red' }} ) }}</small>
                    </fieldset>
                    <fieldset class="form-group">
                        {{ form_label(edit_form.porte, "Numéro de porte", {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(edit_form.porte , { 'attr' : {'placeholder' : 'Numéro de porte',  'class' : 'form-control'  }} ) }}
                        <small class="help-block">{{ form_errors(edit_form.porte , { 'attr' : {'class' : 'red' }} ) }}</small>
                    </fieldset>                                
                </div>

                <div class="col-lg-6">
                    <fieldset class="form-group">
                        {{ form_label(edit_form.type, "Type de locative", {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(edit_form.type , { 'attr' : {'placeholder' : 'Type de locative',  'class' : 'form-control'  }} ) }}
                        <small class="help-block">{{ form_errors(edit_form.type , { 'attr' : {'class' : 'red' }} ) }}</small>
                    </fieldset>
                    <fieldset class="form-group">
                        {{ form_label(edit_form.supercie, "Superficie ", {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(edit_form.supercie , { 'attr' : {'placeholder' : 'Superficie',  'class' : 'form-control'  }} ) }}
                        <small class="help-block">{{ form_errors(edit_form.supercie , { 'attr' : {'class' : 'red' }} ) }}</small>
                    </fieldset>
                    <fieldset class="form-group">
                        {{ form_label(edit_form.charge, "Charge sur loyer", {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(edit_form.charge , { 'attr' : {'placeholder' : 'Charge sur loyer',  'class' : 'form-control'  }} ) }}
                        <small class="help-block">{{ form_errors(edit_form.charge , { 'attr' : {'class' : 'red' }} ) }}</small>
                    </fieldset>                    
                    <fieldset class="form-group">
                        {{ form_label(edit_form.commentaire, "Commentaire ", {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(edit_form.commentaire , { 'attr' : {'placeholder' : 'Commentaire',  'class' : 'form-control'  }} ) }}
                        <small class="help-block">{{ form_errors(edit_form.commentaire , { 'attr' : {'class' : 'red' }} ) }}</small>
                    </fieldset>            
                </div>      
            </div>
            <h5 class="with-border"></h5>
            <div class="form-group">
                
               
                  <div class="chargement">
                     <button class="btn btn-inline btn-info ladda-button" data-style="zoom-out"><span class="ladda-label"><i class="fa fa-edit"></i> {{ 'Edit'|trans({}, 'admin') }}</span><span class="ladda-spinner"></span></button>
                </div>

                 <div class="chargement1" style="display:none">
               
                    <div><img src="{{ asset('theme/ring.svg') }}" style="width: auto; height: 70px;"></div>
                </div>

            </div>
            
        </div>
    </section>

    {{ form_end(edit_form) }}

    {{ form_start(delete_form) }}
        {{ form_widget(delete_form) }}
        

        <input name="modal" type="hidden" value="0">
    {{ form_end(delete_form) }}

    <div id="delete_confirm" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3>{{ 'Confirm delete'|trans({}, 'admin') }}</h3>
                </div>
                <div class="modal-body">
                    <p>{{ 'You are about to delete an item'|trans({}, 'admin') }}, {{ 'this procedure is irreversible'|trans({}, 'admin') }}.</p>
                    <p>{{ 'Do you want to proceed?'|trans({}, 'admin') }}</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger">{{ 'Yes'|trans({}, 'admin') }}</button>
                    <button class="btn btn-default" data-dismiss="modal">{{ 'No'|trans({}, 'admin') }}</button>
                </div>
            </div>
        </div>
    </div>


<script type="text/javascript">
$('.FormEditLocative').submit(function(){


    var data = $('.FormEditLocative').serializeArray().reduce(function(obj, item) {
    obj[item.name] = item.value;
    return obj;
}, {});


         $('.chargement1').show(); 
        $('.chargement').hide();
       $.ajax({
                    url : "{{ path( 'locative_update' , {id:locative.id} ) }}",
                    type : 'post',
                    data: data ,

                    success : function( statut){
                      if(statut){

                        if(statut==3){
                           
                              error = '<div class="alert alert-dismissible alert-success">' + 
                          '<button type="button" class="close" data-dismiss="alert">x</button>' + 
                         " Modification éffectué avec succès !" +
                          '</div>';
                        $('.erreur').html(error);
           

                        }else{
                            $('.contEditLocative').html(statut);
                        }
                          $('.chargement1').hide(); 
                          $('.chargement').show();
                        
                      }
                    }
                    ,
                    error : function(resultat, statut, erreur){
                      if(statut){
                        error = '<div class="alert alert-dismissible alert-danger">' + 
                          '<button type="button" class="close" data-dismiss="alert">x</button>' + 
                          erreur + " ! veuillez recommencer " +
                          '</div>';
                        $('.erreur').html(error);
                         $('.chargement1').hide(); 
                          $('.chargement').show();
                      }
                    }
                  }
              );

return false;
} );

</script>